@b1: #526d98;
@b2: #b7ccdd;
@b3: #e7e5e3;

html,
body {
    height: 100%;
    margin: 0;
    background-color: @b3;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

/**************** main styles ***********************************************************************************************/
#mainer {
    font-size: clamp(9px, 4vw, 15px);
    background-color: @b3;
    padding: 50px 0 1vh 0;

    ul {
        list-style-type: none;
        padding: 0 2vw;
        text-align: justify;
    }

    table {
        text-align: center;
        margin: 1vw auto;
        width: 98vw;

        th {
            color: @b1;
            border: @b1 solid 1px;
        }

        td {
            border: 1px dashed @b1;

            img {
                width: 50px;
                display: inline-block;
                height: 50px;
            }
        }
    }

    img {
        width: 90%;
        max-width: 150px;
        display: block;
        margin: auto;
    }
}

/**************** Q&A styles ***********************************************************************************************/
.accordion-item {
    margin: 0 auto 1vh;
    width: 92vw;
    background-color: @b3;
    border: none;
}

.accordion-button {
    background-color: @b2;
    border-radius: 10px;
    color: @b1;
    font-size: clamp(9px, 4vw, 15px);
}

.accordion-button:not(.collapsed) {
    background-color: @b1;
    color: @b2;
}

.accordion-body {
    text-align: justify;
    margin: auto;
    padding: 5px 0 0 0;
    width: 88vw;
}

.accordion-button::after {
    --bs-accordion-btn-icon-width: clamp(9px, 4vw, 15px);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='steelblue' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='lightsteelblue' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}

.accordion-button:focus {
    box-shadow: none;
}


/**************** other styles ***********************************************************************************************/
a {
    text-decoration: none !important;
    font-weight: bold;

    &:visited,
    &:link {
        color: @b1;
    }

    &:hover,
    &:active {
        color: @b2;
    }
}

p {
    margin-top: 1rem;
}

.big {
    margin-left: 1vw;
    font-size: 1.1em;
    font-weight: bolder;
}

strong {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, @b2 60%);
}

/**************** AnimCube *****************************************************************************************************/
.cube {
    width: 181px;
    height: 205px;
    max-width: 100%;
    margin: 0 auto 5px auto;
}

.col {
    text-align: center;
}

/**************** load styles ***********************************************************************************************/
.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: @b3;
}

.spinner-border {
    color: @b1;
    width: 3rem;
    height: 3rem;
}

/**************** menu ***********************************************************************************************/
.top {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: @b1;
    font-size: 20px;
    color: @b2;
    height: 49px;
    border-bottom: @b3 solid 1px;
    padding: 1em;

    a {
        color: @b2;
    }
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;

    &>li {
        margin: 0 1rem;
        overflow: hidden;
    }
}

.menu-button-container {
    display: none;
    width: 30px;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    background-color: @b2;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 780px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 49px;
        left: 0;
        flex-direction: column;
        width: 100%;
    }

    #menu-toggle~.menu li {
        height: 0;
        padding: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid @b3;
        height: 2em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        background-color: @b2;
        line-height: 1;

        a {
            color: @b1;
        }
    }
}