@g1: #bed3d4;
@g2: #e8caa4;
@g3: #a1b872;
@g4: #e5d67b;

body {
    background-color: @g1;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(white 2px, transparent 2px),
        linear-gradient(90deg, white 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/**************** load styles ***********************************************************************************************/
.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: @g1;
}

.loading {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    color: @g3  !important;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-spin-clockwise-fade-rotating,
.la-ball-spin-clockwise-fade-rotating>div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-ball-spin-clockwise-fade-rotating {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-spin-clockwise-fade-rotating>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-spin-clockwise-fade-rotating {
    width: 32px;
    height: 32px;
    -webkit-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
    -moz-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
    -o-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
    animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
}

.la-ball-spin-clockwise-fade-rotating>div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 100%;
    -webkit-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
    -moz-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
    -o-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
    animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
}

.la-ball-spin-clockwise-fade-rotating>div:nth-child(1) {
    top: 5%;
    left: 50%;
    -webkit-animation-delay: -.875s;
    -moz-animation-delay: -.875s;
    -o-animation-delay: -.875s;
    animation-delay: -.875s;
}

.la-ball-spin-clockwise-fade-rotating>div:nth-child(2) {
    top: 18.1801948466%;
    left: 81.8198051534%;
    -webkit-animation-delay: -.75s;
    -moz-animation-delay: -.75s;
    -o-animation-delay: -.75s;
    animation-delay: -.75s;
}

.la-ball-spin-clockwise-fade-rotating>div:nth-child(3) {
    top: 50%;
    left: 95%;
    -webkit-animation-delay: -.625s;
    -moz-animation-delay: -.625s;
    -o-animation-delay: -.625s;
    animation-delay: -.625s;
}

.la-ball-spin-clockwise-fade-rotating>div:nth-child(4) {
    top: 81.8198051534%;
    left: 81.8198051534%;
    -webkit-animation-delay: -.5s;
    -moz-animation-delay: -.5s;
    -o-animation-delay: -.5s;
    animation-delay: -.5s;
}

.la-ball-spin-clockwise-fade-rotating>div:nth-child(5) {
    top: 94.9999999966%;
    left: 50.0000000005%;
    -webkit-animation-delay: -.375s;
    -moz-animation-delay: -.375s;
    -o-animation-delay: -.375s;
    animation-delay: -.375s;
}

.la-ball-spin-clockwise-fade-rotating>div:nth-child(6) {
    top: 81.8198046966%;
    left: 18.1801949248%;
    -webkit-animation-delay: -.25s;
    -moz-animation-delay: -.25s;
    -o-animation-delay: -.25s;
    animation-delay: -.25s;
}

.la-ball-spin-clockwise-fade-rotating>div:nth-child(7) {
    top: 49.9999750815%;
    left: 5.0000051215%;
    -webkit-animation-delay: -.125s;
    -moz-animation-delay: -.125s;
    -o-animation-delay: -.125s;
    animation-delay: -.125s;
}

.la-ball-spin-clockwise-fade-rotating>div:nth-child(8) {
    top: 18.179464974%;
    left: 18.1803700518%;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.la-ball-spin-clockwise-fade-rotating.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-spin-clockwise-fade-rotating.la-3x>div {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
}

/*
  * Animations
  */
@-webkit-keyframes ball-spin-clockwise-fade-rotating-rotate {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-moz-keyframes ball-spin-clockwise-fade-rotating-rotate {
    100% {
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-o-keyframes ball-spin-clockwise-fade-rotating-rotate {
    100% {
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes ball-spin-clockwise-fade-rotating-rotate {
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes ball-spin-clockwise-fade-rotating {
    50% {
        opacity: .25;
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes ball-spin-clockwise-fade-rotating {
    50% {
        opacity: .25;
        -moz-transform: scale(.5);
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes ball-spin-clockwise-fade-rotating {
    50% {
        opacity: .25;
        -o-transform: scale(.5);
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-spin-clockwise-fade-rotating {
    50% {
        opacity: .25;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/**************** main styles ***********************************************************************************************/
#container {
    width: 900px;
    background-color: @g2;
    font-size: 15px;
    font-family: "微軟正黑體", sans-serif;
    font-weight: bolder;
    margin: 0 auto 0 auto;
    border: @g2 solid 20px;
    border-radius: 20px;
}

#container2 {
    width: 100%;
    background-color: #FFF;
    border-bottom: #FFF 20px solid;
    border-radius: 20px;
    padding-top: 10px;
    margin: 0px;
    float: none;

    ul {
        list-style-type: none;

        li {
            vertical-align: text-top;
            height: auto;
            width: 800px;
            margin-left: 13px;
        }
    }

    table {
        text-align: center;
        margin: 0 auto 0 auto;
        border-collapse: collapse;
        width: 800px;

        th {
            color: @g3;
            border: @g3 solid 2px;
        }

        td {
            padding: 10px;
            border: 1px dashed #555;
            display: table-cell;

            img {
                width: 120px;
                height: 120px;

            }

            a {
                color: #000;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

/**************** top styles ***********************************************************************************************/
.box {
    width: 900px;
    height: 50px;
    background-color: @g2;
    position: sticky;
    top: 0px;
    z-index: 9998;

    &::before,
    &::after {
        content: '';
        position: absolute;
    }

    div::before {
        content: '';
        position: absolute;
        border: 8px solid #000;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0);
        width: 400px;
        height: 20px;
        bottom: 5px;
        right: 242px;
    }

    &::before {
        width: 900px;
        height: 25px;
        background-color: #FFF;
        border-top: 20px solid #FFF;
        border-radius: 20px;
        top: 32px;
    }

    &::after {
        width: 450px;
        border: 8px solid #CCC;
        border-radius: 8px;
        top: 7px;
        left: 217px;
    }
}

/**************** menu styles ***********************************************************************************************/

#tabs10 {
    float: left;
    width: 900px;
    border-bottom: @g3 5px solid;
    background-color: #FFF;
    position: sticky;
    top: 50px;
    z-index: 9998;

    ul {
        margin: 0;
        padding-inline-start: 10px;

        li {
            color: @g3;
            border-color: #FFF;
            display: inline;
            font-size: 18px;
            border-width: 3px 3px 0 3px;
            border-style: solid;
            border-radius: 10px 10px 0px 0px;
            padding: 0px 5px 0px 5px;

            &:hover {
                border-color: @g3;
            }
        }
    }
}

/**************** pic styles ***********************************************************************************************/
.pic {
    width: 800px;
    position: relative;
    text-align: center;
    margin: 0 auto 0 auto;

    img {
        width: 740px;
        border: #FFF 30px solid;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        transform: rotate(-35deg);
        width: 80px;
        height: 30px;
        background-color: #888;
        border: 1px dashed #000;
        opacity: 50%
    }

    &::before {
        top: 30px;
        left: 5px;
    }

    &::after {
        bottom: 30px;
        right: 5px;
    }
}

/**************** Q&A styles ***********************************************************************************************/
details {
    margin: 0 auto 10px;
    width: 800px;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: @g3;
    border-radius: 10px;
    cursor: pointer;

    &::-webkit-details-marker {
        display: none;
    }

    &:hover {
        background-color: @g4;
    }

    &::after {
        content: '+';
        font-size: 21px;
        transition: transform .5s;
    }
}

details[open] {
    summary {
        background-color: @g4;
    }

    summary::after {
        transform: rotate(45deg);
    }
}

.answer {
    padding: 0px 15px;
    line-height: 1.6;
}

/**************** other styles ***********************************************************************************************/
a {
    text-decoration: none;

    &:visited,
    &:link {
        color: @g3;
    }

    &:hover,
    &:active {
        color: @g4;
    }
}

.g4 {
    color: #FFF !important;
    background-color: @g3;
    border-color: @g3  !important;
}

.big {
    font-size: 20px;
    background: linear-gradient(-135deg,
            transparent 15px,
            @g4 15px,
            @g2 100%) top right,
        linear-gradient(-45deg,
            transparent 15px,
            @g4 15px,
            @g2 100%) bottom right;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    padding: 0 20px;
}

.title2 {
    display: inline-block;
    vertical-align: text-top;
    height: 30px;
    width: 205px;
    margin-left: 13px;
}

.b2 {
    td {
        border: #000 solid 1px !important;
    }
}

strong {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, @g4 70%);
}

/**************** roofpig styles ***********************************************************************************************/

.roofpig {
    display: inline-grid;
    width: 205px !important;
    margin-left: 13px !important;
}

.roofpig-help-button {
    display: none
}

.roofpig-algtext {
    height: 40px !important;
    font-size: 15px !important;
    line-height: 19px;
}

.roofpig-past-algtext {
    background-color: @g1  !important;
    border-radius: 5px
}

.roofpig-button {
    border-radius: 5px !important;
    border: none !important;
    height: 27px !important;
    margin-right: 6px !important;
    background: url(../sprite.png) no-repeat -20px 0px #d5d7d8 !important;
    text-indent: -117px !important;
    overflow: hidden !important;
    width: 45px !important
}

.loopreset(@counter) when (@counter > 0) {
    .loopreset((@counter - 1));

    #reset-@{counter} {
        background-position: 12px -234px !important
    }
}

.loopreset(60);

.loopplay(@counter) when (@counter > 0) {
    .loopplay((@counter - 1));

    #play-@{counter} {
        background-position: 12px -324px !important
    }
}

.loopplay(60);

.loopprev(@counter) when (@counter > 0) {
    .loopprev((@counter - 1));

    #prev-@{counter} {
        background-position: 12px -264px !important
    }
}

.loopprev(60);

.loopnext(@counter) when (@counter > 0) {
    .loopnext((@counter - 1));

    #next-@{counter} {
        background-position: 12px -294px !important
    }
}

.loopnext(60);

.looppause(@counter) when (@counter > 0) {
    .looppause((@counter - 1));

    #pause-@{counter} {
        background-position: 12px -353px !important
    }
}

.looppause(60);

.roofpig-button-enabled {
    background-color: @g3  !important;

    &:hover {
        background-color: @g4  !important
    }
}

/**************** end ***********************************************************************************************/