* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Lato", "Noto Sans TC", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #526d98;
    background-color: #e7e5e3;
}

.container {
    padding: 40px 20px;
}

h2 {
    font-size: 32px;
    margin: 24px 0 8px;
}

h3 {
    font-size: 21px;
    margin: 0 0 8px 0;
    font-weight: 500;
}

p {
    color: #666666;
    text-align: justify;
}

.avatar-img {
    border-radius: 25px;
}

.name {
    font-size: 32px;
    margin: 20px 0;
}

.social-media {
    margin-bottom: 20px;
    display: grid;
    height: 100%;
    justify-content: start
}

.social-media-link {
    color: #526d98;
    text-decoration: none;
    margin: 0 5px;
}

.social-media-link:hover {
    color: #b7ccdd;
}

.cube {
    height: 100%;
    vertical-align: -.075em;
    background-image: url(https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=20&pzl=1&cc=e7e5e3&sch=526d98,526d98,526d98,526d98,526d98,526d98);
    background-repeat: no-repeat;
}

.cube:hover {
    background-image: url(https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=20&pzl=1&cc=e7e5e3&sch=b7ccdd,b7ccdd,b7ccdd,b7ccdd,b7ccdd,b7ccdd);
}

hr {
    border: 0px;
    height: 2px;
    background: #417038;
    margin: 20px 0;
}

.company,
.duration {
    color: #417038;
    font-size: 12px;
    margin-right: 20px;
}

.fa-building,
.fa-calendar-alt {
    margin-right: 5px;
}