.roofpig {
  display: inline-block;
  border: none !important;
  height: 235px !important;
  width: 170px !important;
  margin-left: 13px !important;
  margin-bottom: 60px;
}

.roofpig>div {
  border: none !important;
}

.roofpig-help-button {
  display: none
}

.roofpig-algtext {
  background-color: transparent !important;
  height: auto !important;
  font-size: 15px !important;
  line-height: 19px;
  text-align: left;
  margin-top: auto
}

.roofpig-past-algtext {
  background-color: #a9cef5 !important;
  border-radius: 3px
}

.roofpig-count {
  font-weight: bold !important;
  color: #2e649e !important;
  width: auto !important;
  margin-left: 2px !important;
  display: inline-block !important
}

.roofpig-button {
  border-radius: 5px !important;
  border: none !important;
  color: #FFF !important;
  font-weight: bold !important;
  line-height: 22px !important;
  height: 27px !important;
  margin-right: 6px !important;
  background: url(sprite.png) no-repeat -20px 0px #d5d7d8 !important;
  text-indent: -117px !important;
  font-size: 10px !important;
  overflow: hidden !important;
  width: 34px !important
}

#reset-1,
#reset-2,
#reset-3,
#reset-4,
#reset-5,
#reset-6,
#reset-7,
#reset-8,
#reset-9,
#reset-10,
#reset-11,
#reset-12,
#reset-13,
#reset-14,
#reset-15,
#reset-16,
#reset-17,
#reset-18,
#reset-19,
#reset-20,
#reset-21,
#reset-22,
#reset-23,
#reset-24,
#reset-25,
#reset-26,
#reset-27,
#reset-28,
#reset-29,
#reset-30,
#reset-31,
#reset-32,
#reset-33,
#reset-34,
#reset-35,
#reset-36,
#reset-37,
#reset-38,
#reset-39,
#reset-40,
#reset-41,
#reset-42,
#reset-43,
#reset-44,
#reset-45 {
  background-position: 6px -234px !important
}

#play-1,
#play-2,
#play-3,
#play-4,
#play-5,
#play-6,
#play-7,
#play-8,
#play-9,
#play-10,
#play-11,
#play-12,
#play-13,
#play-14,
#play-15,
#play-16,
#play-17,
#play-18,
#play-19,
#play-20,
#play-21,
#play-22,
#play-23,
#play-24,
#play-25,
#play-26,
#play-27,
#play-28,
#play-29,
#play-30,
#play-31,
#play-32,
#play-33,
#play-34,
#play-35,
#play-36,
#play-37,
#play-38,
#play-39,
#play-40,
#play-41,
#play-42,
#play-43,
#play-44,
#play-45 {
  background-position: 6px -324px !important
}

#prev-1,
#prev-2,
#prev-3,
#prev-4,
#prev-5,
#prev-6,
#prev-7,
#prev-8,
#prev-9,
#prev-10,
#prev-11,
#prev-12,
#prev-13,
#prev-14,
#prev-15,
#prev-16,
#prev-17,
#prev-18,
#prev-19,
#prev-20,
#prev-21,
#prev-22,
#prev-23,
#prev-24,
#prev-25,
#prev-26,
#prev-27,
#prev-28,
#prev-29,
#prev-30,
#prev-31,
#prev-32,
#prev-33,
#prev-34,
#prev-35,
#prev-36,
#prev-37,
#prev-38,
#prev-39,
#prev-40,
#prev-41,
#prev-42,
#prev-43,
#prev-44,
#prev-45 {
  background-position: 6px -264px !important
}

#next-1,
#next-2,
#next-3,
#next-4,
#next-5,
#next-6,
#next-7,
#next-8,
#next-9,
#next-10,
#next-11,
#next-12,
#next-13,
#next-14,
#next-15,
#next-16,
#next-17,
#next-18,
#next-19,
#next-20,
#next-21,
#next-22,
#next-23,
#next-24,
#next-25,
#next-26,
#next-27,
#next-28,
#next-29,
#next-30,
#next-31,
#next-32,
#next-33,
#next-34,
#next-35,
#next-36,
#next-37,
#next-38,
#next-39,
#next-40,
#next-41,
#next-42,
#next-43,
#next-44,
#next-45 {
  background-position: 6px -294px !important
}

#pause-1,
#pause-2,
#pause-3,
#pause-4,
#pause-5,
#pause-6,
#pause-7,
#pause-8,
#pause-9,
#pause-10,
#pause-11,
#pause-12,
#pause-13,
#pause-14,
#pause-15,
#pause-16,
#pause-17,
#pause-18,
#pause-19,
#pause-20,
#pause-21,
#pause-22,
#pause-23,
#pause-24,
#pause-25,
#pause-26,
#pause-27,
#pause-28,
#pause-29,
#pause-30,
#pause-31,
#pause-32,
#pause-33,
#pause-34,
#pause-35,
#pause-36,
#pause-37,
#pause-38,
#pause-39,
#pause-40,
#pause-41,
#pause-42,
#pause-43,
#pause-44,
#pause-45 {
  background-position: 7px -353px !important
}

.roofpig-button-enabled {
  background: url(sprite.png) no-repeat -20px 0px #4287d2 !important
}

.roofpig-button-enabled:hover {
  background-color: #2e649e !important
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #06F;
  text-decoration: none;
}

/**************** body and tag styles ****************/
body {
  background-color: #54c09c;
  background-image: url(background.jpg);
  background-repeat: repeat;
  margin-top: 0px;
  margin-bottom: 30px;
}

#container {
  width: 750px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.6em;
  color: #CCC;
  background-color: #FFF;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border-top-width: thin;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-top-color: #09F;
  border-right-color: #09F;
  border-bottom-color: #09F;
  border-left-color: #09F;
}

#container2 {
  width: 100%;
  font-family: "微軟正黑體";
  font-size: 11px;
  line-height: 1.6em;
  background-color: #FFF;
  color: #FFF;
  border-bottom-color: #FFF;
  margin: 0px;
  border-top-color: #FFF;
  border-right-color: #FFF;
  border-left-color: #FFF;
  float: none;
}

a {
  color: #6DA6E2;
  background-color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: inherit;
  font-weight: bold;
  /*text-decoration: underline;*/
}

/**************** images styles ****************/
a img {
  border: none;
}

img.left,
img.center,
img.right {
  padding: 4px;
  border: 1px solid #a0a0a0;
}

img.left {
  float: left;
  margin: 0 12px 5px 0;
}

img.center {
  display: block;
  margin: 0 auto 5px auto;
}

img.right {
  float: right;
  margin: 0 0 5px 12px;
}

/**************** form styles ****************/
form {
  float: right;
  font-size: 9px;
}

input {
  -webkit-appearance: none;
  outline-style: none;
  border-radius: 0;
  width: 130px;
  height: 15px;
  background-color: #FFFFFF;
  color: #000;
  border: 1px solid #FFF;
  border-bottom-color: #000;
  font-size: 16px;
  padding: 3px;
}

.button {
  padding: 2px;
  background-color: #6DA6E2;
  color: #FFFFFF;
  border: 1px solid #2763A5;
  font-size: 11px;
}

/**************** menu styles ****************/
#tabs10 {
  float: left;
  width: 750px;
  font-size: 93%;
  line-height: normal;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #7F2982;
}

#tabs10 ul {
  margin: 0;
  list-style: none;
  padding-top: 5px;
}

#tabs10 li {
  display: inline;
  margin: 0;
  padding: 0;
}

#tabs10 a {
  float: left;
  margin: 0;
  padding: 0 0 0 4px;
  text-decoration: none;
}

#tabs10 a span {
  float: left;
  display: block;
  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  font-size: 18px;
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
}

#tabs10 .g1 a span {
  color: #FFF;
  border-color: #DE639A;
  background-color: #DE639A;
}

#tabs10 .g2 a span {
  color: #FFF;
  border-color: #F7717D;
  background-color: #F7717D;
}

#tabs10 .g3 a span {
  color: #FFF;
  border-color: #F7B2B7;
  background-color: #F7B2B7;
}

#tabs10 a:hover span {
  text-align: center;
  background-color: #FFF;
}

#tabs10 .g1 a:hover span {
  color: #DE639A;
}

#tabs10 .g2 a:hover span {
  color: #F7717D;
}

#tabs10 .g3 a:hover span {
  color: #F7B2B7;
}

.title2 {
  -webkit-text-size-adjust: 100%;
  font-family: "微軟正黑體";
  font-size: 14px;
  font-weight: bolder;
  color: #000;
  background-color: #FFF;
  border-top-color: #CCC;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  border-left-color: #CCC;
}

.eeeee {
  font-family: "微軟正黑體";
  font-size: 16px;
  font-weight: bold;
  color: #039;
  background-color: #FFF;
  text-align: center;
}

.hh {
  font-size: 14px;
  color: #333;
  font-weight: normal;
  font-family: "微軟正黑體";
  border-bottom-color: #333;
}

.type1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bolder;
  color: #039;
}

.tpye2 {
  font-family: "微軟正黑體";
  font-size: 22px;
  color: #039;
  font-weight: bold;
}

#container2 table tr .hh {
  font-size: 12px;
  line-height: 1.5em;
  padding: 10px;
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-top-color: #FFF;
  border-right-color: #FFF;
  border-left-color: #FFF;
}

#container2 table tr th {
  font-family: "微軟正黑體";
  font-size: 16px;
  font-weight: bolder;
  color: #039;
  background-color: #FFF;
  border-top-color: #039;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #039;
  border-top-width: 2px;
  border-top-style: solid;
  border-right-color: #039;
  border-left-color: #039;
  border-right-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-left-style: solid;
}

#container2 table tr .hh {
  border-bottom-color: #FFF;
  border-bottom-width: 1px;
  border-top-color: #FFF;
  border-right-color: #FFF;
  border-left-color: #FFF;
}

.indexlist {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: bolder;
  color: #039;
  font-family: "微軟正黑體";
  background-color: #FFF;
}

#container2 table tr td {
  font-size: 12px;
  padding: 10px;
  color: #000;
  border: 1px dashed #666;
  font-family: "微軟正黑體";
  background-color: #FFF;
}

.index1 {
  font-family: "微軟正黑體";
  font-size: 18px;
  font-weight: bolder;
  color: #CCC;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #12359B;
}

#container2 table tr td .title2 {
  font-family: "微軟正黑體";
  font-size: 13px;
  line-height: 1.5em;
  color: #000;
}

.underline {
  font-family: "微軟正黑體";
  font-size: 16px;
  font-weight: bolder;
  color: #039;
  margin: 10px;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #333;
  background-color: #FFF;
}

.image01 {
  padding: 3px;
  border: 1px solid #333;
}

#container #container2 ul li #CollapsiblePanel1200 {
  width: 500px;
}