{% extends "base.html" %}
{% block head %}
<style>
    twisty-player {
        width: 100%;
        height: 100%;
        background: #fff;
    }
</style>
{% endblock %}
{% block content %}
<script src="https://cdn.cubing.net/v0/js/cubing/twisty" type="module"></script>
<p><span class="big" id="c04">STEP4.黃色邊塊</span></p>
<p style="margin-left: 2vw;">所有<strong>黃色邊塊朝上</strong>就行，使用六步法。</p>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">
            <twisty-player alg="R U R' U R U2' R'" background="none" puzzle="2x2x2" viewer-link="none"></twisty-player>
        </div>
        <div class="col">
            <twisty-player alg="R U R' U R U2' R'" background="none" puzzle="2x2x2" viewer-link="none"></twisty-player>
        </div>
        <div class="col">
            <twisty-player alg="R U R' U R U2' R'" background="none" puzzle="2x2x2" viewer-link="none"></twisty-player>
        </div>
        <div class="col">
            <twisty-player alg="R U R' U R U2' R'" background="none" puzzle="2x2x2" viewer-link="none"></twisty-player>
        </div>
    </div>
</div>
{% endblock %}