{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
	let i = 10;
	const intervalid = setInterval(fun, 1000);

	function fun() {
		if (i === 0) {
			clearInterval(intervalid);
			history.go(-1);
		} else {
			i--;
		}
	}
</script>
{% endblock %}
{% block content %}
<div align="center">
	<p>&nbsp;</p>
	<p>
		<span id="timer">此頁面尚未創建喔!!👍,10秒後返回上一頁</span>
	</p>
	<p>&nbsp;</p>
	<script type="text/javascript">
		var timer = document.querySelector("#timer");
		var number = 11;
		setInterval(function () {
			number--;
			timer.innerText = "此頁面尚未創建喔!!👍," + number + "秒後返回上一頁"
		}, 1000);
	</script>
	<img src="./static/404.png" width="360">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
{% endblock %}