<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="icon"
        href="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=400&case=U%27F%27L2U2R2B%27DL2D%27B2UF2UF2UR2x2"
        type="image/svg+xml">
    <title>{{title}}</title>
    <meta name="description" content="這個網站包含我的魔方整理和紀錄，無任何營收，主要練習架站。">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.less') }}" rel="stylesheet/less" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    {% block head %}{% endblock %}
    <script>
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload()
            }
        };
    </script>
</head>

<body>
    <div class="loading-wrapper">
        <div class="loading la-ball-spin-clockwise-fade-rotating la-3x">
            {% for i in range(8) %}
            <div></div>
            {% endfor %}
        </div>
    </div>
    <div class="top">
        <section class="top-nav">
            <div>
                <a href="/">蔡倫魔方</a>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
            {% set menu = [["/","/special", "/lbl", "/cross", "/f2l", "/oll", "/pll", "/other",],
            ["首頁","花式", "LBL", "CROSS", "F2L", "OLL", "PLL","其它"]
            ] %}
            <ul class="menu">
                {% for i in range(8) %}
                <li><a href="{{menu[0][i]}}">{{menu[1][i]}}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <div id="mainer">
        {% block content %}{% endblock %}
    </div>
    <script>
        $(document).ready(function () {
            $(".loading-wrapper").fadeOut(1000);
        });
        var scrollLinks = document.querySelectorAll('.click');
        scrollLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var targetId = link.getAttribute('href').substring(1);
                var targetSection = document.getElementById(targetId);
                var targetOffset = targetSection.offsetTop;
                window.scrollTo({
                    top: targetOffset - 50,
                    behavior: 'smooth'
                });
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/roofpig_and_three.min.js') }}" type="text/javascript"></script>
</body>
<!--  d8'                    888888888888                    88     88
88   d8'                          88                         ""     88
88  ""                            88                                88
88    88,dPYba,,adPYba,           88  ,adPPYba,  ,adPPYYba,  88     88          88       88  8b,dPPYba,
88    88P'   "88"    "8a          88  I8[    ""  ""     `Y8  88     88          88       88  88P'   `"8a
88    88      88      88          88   `"Y8ba,   ,adPPPPP88  88     88          88       88  88       88
88    88      88      88          88  aa    ]8I  88,    ,88  88     88          "8a,   ,a88  88       88
88    88      88      88          88  `"YbbdP"'  `"8bbdP"Y8  88     88888888888  `"YbbdP'Y8  88      -->

</html>