<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <title>{{title}}：這個魔方網站幫助你更了解魔方</title>
    <meta name="description" content="這個網站包含我的魔方整理和紀錄，無任何營收，主要練習架站。所有資料皆來自魔方小天地、小丸號魔術方塊、一小時學盲解...等網站。">
    <meta property="og:site_name" content="{{title}}" />
    <meta property="og:image" content="static/cubeheadimg.png">
    <link href="{{ url_for('static', filename='css/style.less') }}" rel="stylesheet/less" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    {% if title=="CFOP 六格觀察法" %}
    <style>
        #container2 li {
            display: inline-block;
        }

        #container2 tr td {
            border: none;

        }
    </style>
    <style class="list-search-style"></style>
    {% endif %}
    <script>
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload()
            }
        };
    </script>
    <meta name="google-site-verification" content="G_YeiyP3lfooPs_v9L8kvSycPxFHTAhbgdI9uSo9wFI" />
</head>

<body>
    <div class="loading-wrapper">
        <div class="loading la-ball-spin-clockwise-fade-rotating la-3x">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="container">
        <div class="box">
            <div></div>
        </div>
        {% set menu = [["/","/special", "/lbl", "/cross", "/f2l", "/oll", "/pll", "/pll2",],
        ["首頁","花式", "LBL", "CROSS", "F2L", "OLL", "PLL", "六格觀察法",]
        ] %}
        {% block content %}{% endblock %}
    </div>
    <script>
        $(document).ready(function () {
            $(".loading-wrapper").fadeOut(1000);
        });
    </script>
    <script>
        var url = location.href;
        if (url.indexOf('?') != -1) {
            var ary1 = url.split('?');
            var ary2 = ary1[1].split('&');
            var ary3 = ary2[0].split('=');
            var id = ary3[1];
        }
        if (!id) {
            $('.list-search-style').html('');
        } else {
            $('.list-search-style').html(
                '#container2 .b:not([data-title*="' + id + '"]) {display: none;}' +
                '#container2 .b2:not([data-title*="' + id + '"]) {display: none;}' +
                '#container2 .big:not([data-title*="' + id + '"]) {display: none;}'
            );
        }
    </script>
    <script>
        var scrollLinks = document.querySelectorAll('.click');
        scrollLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var targetId = link.getAttribute('href').substring(1);
                var targetSection = document.getElementById(targetId);
                var targetOffset = targetSection.offsetTop;
                window.scrollTo({
                    top: targetOffset - 90,
                    behavior: 'smooth'
                });
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/roofpig_and_three.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/updown.js') }}" type="text/javascript"></script>
</body>
<!--  d8'                    888888888888                    88     88
88   d8'                          88                         ""     88
88  ""                            88                                88
88    88,dPYba,,adPYba,           88  ,adPPYba,  ,adPPYYba,  88     88          88       88  8b,dPPYba,
88    88P'   "88"    "8a          88  I8[    ""  ""     `Y8  88     88          88       88  88P'   `"8a
88    88      88      88          88   `"Y8ba,   ,adPPPPP88  88     88          88       88  88       88
88    88      88      88          88  aa    ]8I  88,    ,88  88     88          "8a,   ,a88  88       88
88    88      88      88          88  `"YbbdP"'  `"8bbdP"Y8  88     88888888888  `"YbbdP'Y8  88      -->

</html>