{% extends "base.html" %}
{% set menu2 = ["基本型", "雙頂藏角型", "雙頂藏邊型", "雙頂複雜型",
"邊頂型", "角頂型", "無頂型", "魔方101非標", "中島非標1st", "中島非標2nd"] %}
{% set common_facelets = "llllyllllwwwwwwwwwlrrlrrlrrloolooloolllbbbbbblgglgglgg" %}
{% block head %}
<script src="{{ url_for('static', filename='js/AnimCube3.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row px-2">
		{% for i in range(menu2|length) %}
		<div class="col col-4 col-sm-3 col-lg-2 col-xxl-1 p-0">
			<div class="menutable">
				<a href="#c{{loop.index}}">{{menu2[i]}}</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% for cat in demo %}
<p>
	<span class="big" id="c{{ loop.index }}">
		{% if cat.link %}
		<a href="{{ cat.link }}">{{menu2[loop.index0]}}</a>
		{% else %}
		{{menu2[loop.index0]}}
		{% endif %}
		{% if cat.note %}
		&nbsp;&nbsp;<strong>{{cat.note}}</strong>
		{% endif %}
	</span>
</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		{% for perm in cat.perms %}
		{% set facelets = perm[2] if perm|length > 2 else common_facelets %}
		<div class="col">{{perm[0]}}
			<div class="cube">
				<script>AnimCube3("facelets={{facelets}}&move={{perm[1]|safe}}")</script>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}
{% endblock %}