{% extends "base.html" %} {% block content %}
{% set f2lmenu = ["簡單型", "白側同色型", "白側異色型", "白側結合型", "白上分離型", "白上結合型",
"角內型", "邊內型", "都內型", "魔方101非標", "中島非標1st", "中島非標2nd"] %}
<table>
	<tr>
		<td style="width: 25%">
			<a href="/cross">CROSS</a>
		</td>
		<td style="width: 25%;background-color: #526d98;color: #e7e5e3;">F2L
		</td>
		<td style="width: 25%">
			<a href="/oll">OLL</a>
		</td>
		<td style="width: 25%">
			<a href="/pll">PLL</a>
		</td>
	</tr>
</table>
<table>
	{% for i in range(4) %}
	<tr>
		{% for j in range(3) %}
		<td>
			<a href="#c{{i*3+j+1}}">{{f2lmenu[i*3+j]}}</a>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<p><span class="big" id="c1">簡單型F2L01~F2L04</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L01
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R'")</script>
			</div>
		</div>
		<div class="col">F2L02
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F R' F' R")</script>
			</div>
		</div>
		<div class="col">F2L03
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U' F")</script>
			</div>
		</div>
		<div class="col">F2L04
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R'")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c2">白側同色型F2L05~F2L08&nbsp;&nbsp;<strong>藏角</strong></span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L05
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U2 R U' R'")</script>
			</div>
		</div>
		<div class="col">F2L06
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U' F U2 F' U F")</script>
			</div>
		</div>
		<div class="col">F2L07
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U2 R' U2 R U' R'")</script>
			</div>
		</div>
		<div class="col">F2L08
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U2 F U2 F' U F")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c3">白側異色型F2L09~F2L12&nbsp;&nbsp;<strong>藏角</strong></span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L09
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U F' U' F")</script>
			</div>
		</div>
		<div class="col">F2L10
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U F U' R U R'")</script>
			</div>
		</div>
		<div class="col">F2L11
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U2 R' U F' U' F")</script>
			</div>
		</div>
		<div class="col">F2L12
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U2 F U' R U R'")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c4">白側結合型F2L13~F2L16&nbsp;&nbsp;<strong>異色藏角</strong>&nbsp;&nbsp;<strong>同色藏邊</strong></span>
</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L13
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=U F' U F U' F' U' F")</script>
			</div>
		</div>
		<div class="col">F2L14
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=U' R U' R' U R U R'")</script>
			</div>
		</div>
		<div class="col">F2L15
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U F U2 R U R'")</script>
			</div>
		</div>
		<div class="col">F2L16
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U2 F' U' F")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c5">白上分離型F2L17~F2L20&nbsp;&nbsp;<strong>藏邊</strong></span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L17
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U2 R' U R U' R'")</script>
			</div>
		</div>
		<div class="col">F2L18
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U R U' R'")</script>
			</div>
		</div>
		<div class="col">F2L19
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U2 F U' F' U F")</script>
			</div>
		</div>
		<div class="col">F2L20
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U' F U' F' U F")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c6">白上結合型F2L21~F2L24&nbsp;&nbsp;<strong>善用F2L25&nbsp;F2L27</strong></span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L21
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U2 R' U' R U R'")</script>
			</div>
		</div>
		<div class="col">F2L22
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U2 R U R' U' R U R'")</script>
			</div>
		</div>
		<div class="col">F2L23
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U F' U F U' F' U F")</script>
			</div>
		</div>
		<div class="col">F2L24
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U2 F U F' U' F")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c7">角內型F2L25~F2L30</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L25
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U' R U R'")</script>
			</div>
		</div>
		<div class="col">F2L26
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U R U' R'")</script>
			</div>
		</div>
		<div class="col">F2L27
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U F U' F' U F")</script>
			</div>
		</div>
		<div class="col">F2L28
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' U' F U F' U' F")</script>
			</div>
		</div>
		<div class="col">F2L29
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=U R U' R' U' F' U F")</script>
			</div>
		</div>
		<div class="col">F2L30
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=U' F' U F U R U' R'")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c8">邊內型F2L31~F2L36</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L31
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U' R U R' U' R U R' U'")</script>
			</div>
		</div>
		<div class="col">F2L32
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U2 R U R'")</script>
			</div>
		</div>
		<div class="col">F2L33
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U2 R U' R'")</script>
			</div>
		</div>
		<div class="col">F2L34
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U2 F R' F' R")</script>
			</div>
		</div>
		<div class="col">F2L35
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=U F' U' F R' F R F'")</script>
			</div>
		</div>
		<div class="col">F2L36
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=U' R U R' F R' F' R")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c9">都內型F2L37~F2L41</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">F2L37
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U2 F' U' F U' F' U F")</script>
			</div>
		</div>
		<div class="col">F2L38
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U' R U' R' U F' U' F")</script>
			</div>
		</div>
		<div class="col">F2L39
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U F' U2 F U2 F' U F")</script>
			</div>
		</div>
		<div class="col">F2L40
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U' R U2 R' U' R U R'")</script>
			</div>
		</div>
		<div class="col">F2L41
			<div class="cube">
				<script>AnimCube3("facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' R' U R U2 R' U R U' R'")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c10"><a
			href="https://www.youtube.com/watch?v=rG7p2l2vifM&ab_channel=%E9%AD%94%E6%96%B9101">魔方101非標</a></span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">Class1
			<div class="cube">
				<script>AnimCube3("facelets=ddddydddddddwwdwwdddddrrdrrdddddddddddddddddddggdggddd&move=R2 U' R2 U R2")</script>
			</div>
		</div>
		<div class="col">Class2
			<div class="cube">
				<script>AnimCube3("facelets=ddddydddddddwwdwwdddddrrdrrdddddddddddddddddddggdggddd&move=F' R' U R F")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c11">中島非標1st</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">Class1：RF空槽
			<div class="cube">
				<script>AnimCube3("facelets=ddddyddd4wwdwwwdwddrrdrrd4d4dddooddddddbbdbbdd4ddgg4dd&move=u' R' F R F' R U' R' u")</script>
			</div>
		</div>
		<div class="col">Class2：LB空槽
			<div class="cube">
				<script>AnimCube3("facelets=ddddyd44ddwdwwwwwdddddrrdrrddd4oo4dddd4dbddbddggdggddd&move=R U' R' y R2 y L2 F L2 F y2")</script>
			</div>
		</div>
		<div class="col">Class3
			<div class="cube">
				<script>AnimCube3("facelets=ddddydddddwwwwwdwdddddrrdddddddoodooddddbbdbbddddggddd&move=R U' R' d R' U2 R L' U L y")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c12">中島非標2nd</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">Class1
			<div class="cube">
				<script>AnimCube3("facelets=ddddydddddwdwwwdwwddddrrddddoodoodddddddbddbdddddggdgg&move=R U R U R2 U' R' U' R'")</script>
			</div>
		</div>
		<div class="col">Class2
			<div class="cube">
				<script>AnimCube3("facelets=ddddydddddwdwwwdwwddddrrddddoodoodddddddbddbdddddggdgg&move=l U' R' U l' U' R")</script>
			</div>
		</div>
		<div class="col">Class3
			<div class="cube">
				<script>AnimCube3("facelets=ddddydddddwdwwwdwwddddrrddddoodoodddddddbddbdddddggdgg&move=R U2 R' U R' U' R")</script>
			</div>
		</div>
		<div class="col">Class4
			<div class="cube">
				<script>AnimCube3("facelets=ddddydddddwdwwwdwwddddrrddddoodoodddddddbddbdddddggdgg&move=R U R U R U' R' U' R'")</script>
			</div>
		</div>
	</div>
</div>
{% endblock %}