{% extends "base.html" %}
{% set visualcube = "https://visualcube.api.cubing.net/visualcube.php?bg=t&fmt=svg&size=50&r=y45x-30" %}
{% block head %}
<script src="{{ url_for('static', filename='js/AnimCube3.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
{% set god = ["1", "18", "243", "3,240", "43,239", "574,908", "7,618,438", "100,803,036", "1,332,343,288",
"17,596,479,795", "232,248,063,316", "3,063,288,809,012", "40,374,425,656,248", "531,653,418,284,628",
"6,989,320,578,825,358", "91,365,146,187,124,313", "約110京", "約1200京","約2900京", "約150京", "約4.9億"] %}
{% set cross =
[["1","15","158","1,394","9,809","46,381","97,254","34,966","102"],["0.0005","0.0079","0.0831","0.7334","5.1604","24.4008","51.1648","18.3954","0.0537"]]
%}
{% macro msup(x,y) -%}
<msup>
    <mrow>
        <mn> {{x}} </mn>
    </mrow>
    <mrow>
        <mn> {{y}} </mn>
    </mrow>
</msup>
{%- endmacro %}
{% macro mfrac(x,y) -%}
<mfrac>
    <mrow>
        <mn> {{x}} </mn>
    </mrow>
    <mrow>
        <mn> {{y}} </mn>
    </mrow>
</mfrac>
{%- endmacro %}
<div class="cube">
    <script>AnimCube3("initrevmove=&hint=&speed=10&colorscheme=wygbor&move=R2 U' F2 U' F2 U' B2 D L2 D' B R2 U2 L2 F U Y Y Y Y Y Y Y Y&demo=#&buttonbar=0")</script>
</div>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseZero">
            網站介紹
        </button>
        <div id="collapseZero" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                這個網站包含我的魔方整理和紀錄，無任何營收，主要練習架站。
                <p><span class="big">初級玩家</span></p>
                <ul class="px-2">
                    <li>層解法：<a href="/lbl"> LBL</a></li>
                </ul>
                <p><span class="big">高級玩家</span></p>
                <ul class="px-2">
                    <li>CFOP第一步驟(白色十字)：<a href="/cross"> CROSS</a></li>
                    <li>CFOP第二步驟(下面兩層)：<a href="/f2l"> F2L</a></li>
                    <li>CFOP第三步驟(黃色朝上)：<a href="/oll"> OLL</a></li>
                    <li>CFOP第四步驟(頂層歸位)：<a href="/pll"> PLL</a></li>
                </ul>
                <p><span class="big">資料來源</span></p>
                <ul class="text-start px-2">
                    網站伺服：
                    <li><a class="me-2" href="https://www.pythonanywhere.com/"><i
                                class="bi bi-1-circle pe-1"></i>pythonanywhere</a>
                    </li>
                    魔方資料：
                    <li><a class="me-2" href="https://cube-tutorial.pinpincuber.com/"><i
                                class="bi bi-1-circle pe-1"></i>魔方小天地</a>
                        <a class="me-2" href="https://maru.tw/"><i class="bi bi-2-circle pe-1"></i>小丸號魔術方塊</a>
                        <a class="me-2" href="https://1hrbld.tw/"><i class="bi bi-3-circle pe-1"></i>一小時學盲解</a>
                        <a class="me-2" href="https://case.ntu.edu.tw/blog/?p=33310"><i
                                class="bi bi-4-circle pe-1"></i>魔術方塊和數學</a>
                        <a class="me-2" href="https://slowercuber.net/"><i
                                class="bi bi-5-circle pe-1"></i>SlowerCuber</a>
                        <a class="me-2" href="https://chiacube.tw/"><i class="bi bi-6-circle pe-1"></i>ChiaCube</a>
                        <a class="me-2" href="https://www.cyotheking.com/"><i
                                class="bi bi-7-circle pe-1"></i>Cyotheking</a>
                        <a class="me-2" href="https://www.alonswartz.org/cube/"><i
                                class="bi bi-8-circle pe-1"></i>Alonswartz</a>
                        <a class="me-2" href="https://www.cuberoot.me/"><i class="bi bi-9-circle pe-1"></i>Cuberoot</a>
                    </li>
                    魔方動畫：
                    <li><a class="me-2" href="https://github.com/cubing/AnimCubeJS"><i
                                class="bi bi-1-circle pe-1"></i>AnimCubeJS</a>
                        <a href="https://github.com/Cride5/visualcube"><i class="bi bi-2-circle pe-1"></i>Visualcube</a>
                        <a class="me-2" href="https://github.com/tdecker91/visualcube">(js版)</a>
                        <a class="me-2" href="https://experiments.cubing.net/cubing.js/"><i
                                class="bi bi-3-circle pe-1"></i>Cubing.js</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne">
            魔方構造及轉動代號
        </button>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <i class="bi bi-1-circle pe-1"></i>角塊：所有角落，有<strong>8</strong>塊，每塊<strong>三個顏色</strong><br>
                <i class="bi bi-2-circle pe-1"></i>邊塊：角塊間的塊，有<strong>12</strong>塊，每塊<strong>兩個顏色</strong><br>
                <i class="bi bi-3-circle pe-1"></i>中心塊：每面中心，有<strong>6</strong>塊，每塊<strong>一個顏色</strong><br>
                <i class="bi bi-4-circle pe-1"></i>層(以初級玩家<strong class="w">白色</strong>為底介紹)<br>
                　<i class="bi bi-dot"></i>底層：4塊<strong class="w">白色</strong>角塊和4塊<strong class="w">白色</strong>邊塊<br>
                　<i class="bi bi-dot"></i>中間層：<strong class="r">紅</strong><strong class="b">藍</strong>、<strong
                    class="b">藍</strong><strong class="o">橘</strong>、<strong class="o">橘</strong><strong
                    class="g">綠</strong>、<strong class="g">綠</strong><strong class="r">紅</strong><br>
                　<i class="bi bi-dot"></i>頂層：4塊<strong class="y">黄色</strong>角塊和4塊<strong class="y">黄色</strong>邊塊
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col">角塊
                            <img src="{{ visualcube }}&fc=ylylllylyglglllglgrlrlllrlr">
                        </div>
                        <div class="col">邊塊
                            <img src="{{ visualcube }}&fc=lylylylyllglglglgllrlrlrlrl">
                        </div>
                        <div class="col">中心塊
                            <img src="{{ visualcube }}&fc=llllyllllllllgllllllllrllll">
                        </div>
                        <div class="col">底層
                            <img src="{{ visualcube }}&fc=lllllllllllllllgggllllllrrr">
                        </div>
                        <div class="col">中間層
                            <img src="{{ visualcube }}&fc=llllllllllllgggllllllrrrlll">
                        </div>
                        <div class="col">頂層
                            <img src="{{ visualcube }}&fc=yyyyyyyyygggllllllrrrllllll">
                        </div>
                    </div>
                </div>
                <i class="bi bi-5-circle pe-1"></i>轉動代號：大寫表示該面面對自己順時針轉90&#176;
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col"><strong>R</strong>ight
                            <img src="{{ visualcube }}&sch=llllll&arw=F8U5F2-i10-r">
                        </div>
                        <div class="col"><strong>U</strong>p
                            <img src="{{ visualcube }}&sch=llllll&arw=R2F1R0-i10-r">
                        </div>
                        <div class="col"><strong>F</strong>ront
                            <img src="{{ visualcube }}&sch=llllll&arw=U6R3U8-i10-r">
                        </div>
                        <div class="col"><strong>L</strong>eft
                            <img src="{{ visualcube }}&sch=llllll&arw=U0F3U6-i10-r">
                        </div>
                        <div class="col"><strong>D</strong>own
                            <img src="{{ visualcube }}&sch=llllll&arw=F6R7F8-i10-r">
                        </div>
                        <div class="col"><strong>B</strong>ack
                            <img src="{{ visualcube }}&sch=llllll&arw=R8U1R2-i10-r">
                        </div>
                        <div class="col"><strong>M</strong>iddle
                            <img src="{{ visualcube }}&sch=llllll&arw=U1F4U7-i10-r">
                        </div>
                        <div class="col"><strong>E</strong>quator
                            <img src="{{ visualcube }}&sch=llllll&arw=F3R4F5-i10-r">
                        </div>
                        <div class="col"><strong>S</strong>ide
                            <img src="{{ visualcube }}&sch=llllll&arw=U3R4U5-i10-r">
                        </div>
                    </div>
                </div>
                　加'是逆時針，加2是轉180&#176;，小寫是轉兩層
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col">R<strong>'</strong>
                            <img src="{{ visualcube }}&sch=llllll&arw=U2F5U8-i10-y">
                        </div>
                        <div class="col">U<strong>2</strong>
                            <img src="{{ visualcube }}&sch=llllll&arw=R2F1R0-i12-r,R2F1R0-s8-i8-y">
                        </div>
                        <div class="col"><strong>f</strong>
                            <img src="{{ visualcube }}&sch=llllll&arw=U6R3U8-i10-r,U3R4U5-i10-y">
                        </div>
                    </div>
                </div>
                　x、y、z是整顆翻轉
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col">x
                            <img src="{{ visualcube }}&sch=llllll&arw=F6F0,F7F1,F8F2&ac=g">
                        </div>
                        <div class="col">y
                            <img src="{{ visualcube }}&sch=llllll&arw=U0U2,U3U5,U6U8&ac=g">
                        </div>
                        <div class="col">z
                            <img src="{{ visualcube }}&sch=llllll&arw=U0U2,U3U5,U6U8&ac=g">
                        </div>
                    </div>
                </div>
                <i class="bi bi-6-circle pe-1"></i>視角：根據能看到的面命名視角，通常使用UFR視角，眼睛從箭頭方向看去。
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col">UFR視角
                            <img src="{{ visualcube }}&sch=ygrwbo&co=0&fo=40&arw=F4B4-b">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo">
            公式概率
        </button>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                OLL總狀態數(最後的角塊邊塊將被確定，其餘隨機排列)<br>
                <math>
                    {{ msup(3,3) }}
                    <mo>×</mo>
                    {{ msup(2,3) }}
                    <mo>=</mo>
                    <mn>216</mn>
                </math>
                <table>
                    <tr>
                        <td width="55px">對稱軸</td>
                        <td>圖例</td>
                        <td width="40px">數量</td>
                        <td width="40px">機率</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="{{ visualcube }}&view=plan&stage=oll">
                            <img src="{{ visualcube }}&view=plan&stage=oll&case=SR'U'RURURU'R'S'">
                        </td>
                        <td>2</td>
                        <td><math>{{ mfrac(1,216) }}</math></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="{{ visualcube }}&view=plan&stage=oll&case=RU2R'U'RUR'U'RU'R'">
                            <img src="{{ visualcube }}&view=plan&stage=oll&case=RU2R2FRF'U2R'FRF'">
                            <img src="{{ visualcube }}&view=plan&stage=oll&case=RUR'U'M'URU'r'">
                            <img src="{{ visualcube }}&view=plan&stage=oll&case=rUr'URU'R'URU'R'rU'r'">
                            <img src="{{ visualcube }}&view=plan&stage=oll&case=R'FRURU'R2F'R2U'R'URUR'">
                        </td>
                        <td>5</td>
                        <td><math>{{ mfrac(1,108) }}</math></td>
                    </tr>
                    <tr>
                        <td>0,1</td>
                        <td>剩餘情況</td>
                        <td>51</td>
                        <td><math>{{ mfrac(1,54) }}</math></td>
                    </tr>
                </table>
                PLL總狀態數(無法對邊互換，且重複計算4次)<br>
                <math>
                    <mn> 4 </mn>
                    <mo> ! ×</mo>
                    <mn> 4 </mn>
                    <mo> ! ×</mo>
                    {{ mfrac(1,2) }}
                    <mo>×</mo>
                    {{ mfrac(1,4) }}
                    <mo>=</mo>
                    <mn>72</mn>
                </math>
                <table>
                    <tr>
                        <td width="40px">方向</td>
                        <td>圖例</td>
                        <td width="40px">數量</td>
                        <td width="40px">機率</td>
                    </tr>
                    <tr>
                        <td>單</td>
                        <td><img
                                src="{{ visualcube }}&view=plan&ac=m&case=RUR'URUR'F'RUR'U'R'FR2U'R'U2RU'R'&arw=U3U5,U5U3,U2U6,U6U2">
                            <img
                                src="{{ visualcube }}&view=plan&ac=m&case=R'URU'R'F'U'FRUR'FR'F'RU'R&arw=U3U5,U5U3,U0U8,U8U0">
                            <img src="{{ visualcube }}&view=plan&ac=m&case=M2UM2U2M2UM2&arw=U3U5,U5U3,U1U7,U7U1">
                            <img src="{{ visualcube }}&view=plan">
                        </td>
                        <td>4</td>
                        <td><math>{{ mfrac(1,72) }}</math></td>
                    </tr>
                    <tr>
                        <td>雙</td>
                        <td><img src="{{ visualcube }}&view=plan&ac=m&case=M2UM2UM'U2M2U2M'U2&arw=U7U5,U5U7,U1U3,U3U1">
                            <img
                                src="{{ visualcube }}&view=plan&ac=m&case=x'RU'R'DRUR'D'RUR'DRU'R'D'x&arw=U0U6,U6U0,U2U8,U8U2">
                        </td>
                        <td>2</td>
                        <td><math>{{ mfrac(1,36) }}</math></td>
                    </tr>
                    <tr>
                        <td>四</td>
                        <td>剩餘情況</td>
                        <td>16</td>
                        <td><math>{{ mfrac(1,18) }}</math></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree">
            三階魔方狀態數
        </button>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <math>
                    <mn> 8 </mn>
                    <mo> ! ×</mo>
                    {{ msup(3,8) }}
                    <mo>×</mo>
                    <mn> 12 </mn>
                    <mo> ! ×</mo>
                    {{ msup(2,12) }}
                    <mo> ×</mo>
                    {{ mfrac(1,3) }}
                    <mo> ×</mo>
                    {{ mfrac(1,2) }}
                    <mo> ×</mo>
                    {{ mfrac(1,2) }}<br>
                    <mo>=</mo>
                    <mn> 43,252,003,274,489,856,000 </mn>
                </math><br>
                <math>
                    <mn> 8 </mn>
                    <mo> ! ×</mo>
                    {{ msup(3,8) }}
                    <mo>=</mo>
                </math>
                角塊排列×角塊方向，邊塊依此類推<br>
                <math>
                    {{ mfrac(1,3) }}
                    <mo> ×</mo>
                    {{ mfrac(1,2) }}
                    <mo> ×</mo>
                    {{ mfrac(1,2) }}
                    <mo>=</mo>
                </math>
                單角塊翻轉×單邊塊翻轉×雙邊塊互換
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour">
            上帝之數
        </button>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                將三階魔方打亂後，所需最小還原步數
                <table>
                    <tr>
                        <td>步數</td>
                        <td>需要此步數的狀態總數</td>
                    </tr>
                    {% for i in range(21) %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{god[i]}}</td>
                    </tr>
                    {% endfor%}
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive">
            七步十字
        </button>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                CROSS總狀態數(12個邊塊取4個，每塊2個方向)<br>
                <math>
                    <msubsup>
                        <mrow>
                            <mi> P </mi>
                        </mrow>
                        <mrow>
                            <mn> 4 </mn>
                        </mrow>
                        <mrow>
                            <mn> 12 </mn>
                        </mrow>
                    </msubsup>
                    <mo> ×</mo>
                    {{ msup(2,4) }}
                    <mo>=</mo>
                    <mn> 190,080 </mn>
                </math>
                <table>
                    <tr>
                        <td>步數</td>
                        <td>需要此步數的狀態總數</td>
                        <td>發生機率(%)</td>
                    </tr>
                    {% for i in range(9) %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{cross[0][i]}}</td>
                        <td>{{cross[1][i]}}</td>
                    </tr>
                    {% endfor%}
                    <tr>
                        <td>共</td>
                        <td>190,080</td>
                        <td>100</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix">
            魔方英文
        </button>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                二階：Pocket Rubik's Cube，直譯"口袋魔方"。<br>
                三階：Rubik's Cube，取自魯比克教授的名字。<br>
                四階：Rubik's Revenge，直譯"魯比克的復仇"。<br>
                五階：Professor's Cube，直譯"專家玩的方塊"。
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven">
            魔方配色
        </button>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                魔方流行的配色有兩種，標準配色(BOY Color Scheme)和日本配色(BYO Color
                Scheme)。不同之處是<strong class="b">藍</strong><strong class="y">黄</strong>顏色互換，日本配色通常以<strong
                    class="b">藍色</strong>為底，而標準配色則以<strong class="w">白色</strong>為底。
                <br>魔方的顏色是基於CMYK的減色模式，在任一面中加入/減去<strong class="y">黄色</strong>，就能得到它相對的顏色。
                <br>Daisy colors(<strong class="w">白色</strong>+<strong class="y">黄色</strong>=<strong
                    class="y">黄色</strong>)
                <br>Hot colors(<strong class="r">紅色</strong>+<strong class="y">黄色</strong>=<strong
                    class="o">橘色</strong>)
                <br>Cold colors(<strong class="b">藍色</strong>+<strong class="y">黄色</strong>=<strong
                    class="g">綠色</strong>)
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight">
            製造極限
        </button>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                假設魔方一個塊的邊長為1，魔方的階數為n，轉動極限45&#176;時角塊距離中心塊最遠，n-2的斜邊長必須&#60;n。所以七階以上的魔方沒辦法每個方塊大小都一样，解決方法有<strong>不等寬設計</strong>或<strong>弧形設計</strong>。<br>
                <math>
                    <msqrt>
                        <mi>2</mi>
                    </msqrt>
                    <mo>x&#40;</mo>
                    <mn>n</mn>
                    <mo>-</mo>
                    <mn>2</mn>
                    <mo>&#41;&#60;</mo>
                    <mn>n</mn>
                </math>，
                <math>
                    <mn>n</mn>
                    <mo>&#60;</mo>
                    <mn>6.828</mn>
                </math>
                <div class="container">
                    <div class="row justify-content-center row-cols-2 row-cols-md-4 row-cols-xl-6">
                        <div class="col">
                            <img src="static/6.png">
                        </div>
                        <div class="col">
                            <img src="static/7.png">
                        </div>
                        <div class="col">
                            <img src="static/make1.jpg">
                        </div>
                        <div class="col">
                            <img src="static/make2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const params = new URLSearchParams(window.location.search);
        const open = params.get("open");
        if (open === "1") {
            bootstrap.Collapse.getOrCreateInstance(
                document.getElementById("collapseZero"),
                { toggle: false }
            ).hide();
            bootstrap.Collapse.getOrCreateInstance(
                document.getElementById("collapseOne"),
                { toggle: false }
            ).show();
        }
    });
</script>
{% endblock %}