{% extends "base.html" %} {% block content %}
{% set god = ["1", "18", "243", "3240", "43,239", "574,908", "7,618,438", "100,803,036", "1,332,343,288",
"17,596,479,795", "232,248,063,316", "約3兆", "約40兆", "約531兆",
"約6989兆", "約9京1365兆", "約110京", "約1200京","約2900京", "約150京", "約4.9億"] %}
{% set cross =
[["1","15","158","1,394","9,809","46,381","97,254","34,966","102"],["0.0005","0.0079","0.0831","0.7334","5.1604","24.4008","51.1648","18.3954","0.0537"]]
%}
{% macro msup(x,y) -%}
<msup>
    <mrow>
        <mn> {{x}} </mn>
    </mrow>
    <mrow>
        <mn> {{y}} </mn>
    </mrow>
</msup>
{%- endmacro %}
{% macro mfrac(x,y) -%}
<mfrac>
    <mrow>
        <mn> {{x}} </mn>
    </mrow>
    <mrow>
        <mn> {{y}} </mn>
    </mrow>
</mfrac>
{%- endmacro %}
<div class="container-fluid">
    <div class="row justify-content-center row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">
            <div class="roofpig"
                data-config="speed=500|colors=R:r U:w F:g L:o D:y B:b|alg=R2 U' F2 U' F2 U' B2 D L2 D' B R2 U2 L2 F U|flags=startsolved showalg|hover=none">
            </div>
        </div>
    </div>
</div>
<p><span class="big">網站介紹</span></p>
<ul>
    <li>這個網站包含我的魔方整理和紀錄，無任何營收，主要練習架站。
    </li>
</ul>
<p><span class="big">初級玩家</span></p>
<ul>
    <li>層解法：<a href="/lbl"> LBL</a></li>
</ul>
<p><span class="big">高階玩家</span></p>
<ul>
    <li>CFOP第一步驟(白色十字)：<a href="/cross"> CROSS</a></li>
    <li>CFOP第二步驟(下面兩層)：<a href="/f2l"> F2L</a></li>
    <li>CFOP第三步驟(黃色朝上)：<a href="/oll"> OLL</a></li>
    <li>CFOP第四步驟(頂層歸位)：<a href="/pll"> PLL</a></li>
</ul>
<p><span class="big">資料來源</span></p>
<ul>
    網站伺服：
    <li><a href="https://www.pythonanywhere.com/">pythonanywhere</a></li>
    魔方資料：
    <li><a href="https://cube-tutorial.pinpincuber.com/">1.魔方小天地　</a>
        <a href="https://maru.tw/">2.小丸號魔術方塊　</a>
        <a href="https://1hrbld.tw/">3.一小時學盲解　</a>
        <a href="https://www.zhihu.com/people/zhushenje">4.烏杰魔方　</a>
        <a href="https://case.ntu.edu.tw/blog/?p=33310">5.魔術方塊和數學　</a>
        <a href="https://slowercuber.net/">6.SlowerCuber　</a>
        <a href="https://chiacube.tw/">7.ChiaCube　</a>
        <a href="https://ruwix.com/">8.Ruwix　</a>
        <a href="https://cubingapp.com/">9.CubingApp　</a>
        <a href="https://cubefreak.net/">10.Cubefreak　</a>
        <a href="https://www.cyotheking.com/">11.Cyotheking　</a>
        <a href="https://solvethecube.com/">12.Solvethecube　</a>
        <a href="https://www.alonswartz.org/cube/">13.Alonswartz　</a>
        <a href="https://www.cuberoot.me/">14.Cuberoot</a>
    </li>
    魔方動畫：
    <li><a href="https://github.com/larspetrus/Roofpig">1.Roofpig　</a>
        <a href="https://experiments.cubing.net/cubing.js/">2.Cubing.js　</a>
        <a href="https://github.com/cubing/AnimCubeJS">3.AnimCubeJS　</a>
        <a href="https://github.com/Cride5/visualcube">4.Visualcube</a>
    </li>
</ul>
<p><span class="big">魔方知識</span></p>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne">
            轉動代號
        </button>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                根據能看到的面命名視角，本站使用UFR視角
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col">
                            <div style="text-align:center;height:13%">UFR視角
                            </div>
                            <img src="static/solve.png">
                        </div>
                    </div>
                </div>
                大寫表示該面面對自己順時針轉90度
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>R</strong>ight
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=F8U2R0-i40-red&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>U</strong>p
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=R2F0U8-i50-red&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>F</strong>ront
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=U6R6F2-i45-red&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>L</strong>eft
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=U0F6L2-i9-red&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>D</strong>own
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=F6R8D2-i9-red&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>B</strong>ack
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=R8U0B0-i9-red&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>M</strong>iddle
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=U1F7L2-i5-red&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>E</strong>quator
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=F3R5D2-i5-red&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>S</strong>ide
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=U3R7B0-i5-red&sch=llllll">
                        </div>
                    </div>
                </div>
                加<strong>(')</strong>是逆時針，加<strong>2</strong>是轉180度，<strong>小寫</strong>是轉兩層
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col">
                            <div style="text-align:center;height:13%">R<strong>'</strong>
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=U2F8R0-i40-yellow&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">U<strong>2</strong>
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=R2F0U8-i45-red,L2B0U0-i10-yellow&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">
                                <strong>f</strong>
                            </div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=U6R6B0-i4-red,U3R7B0-i6-yellow&sch=llllll">
                        </div>
                    </div>
                </div>
                x　y　z是整顆翻轉
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-6">
                        <div class="col">
                            <div style="text-align:center;height:13%">x</div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=F6F0,F7F1,F8F2&ac=green&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">y</div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=F8F6,F5F3,F2F0&ac=green&sch=llllll">
                        </div>
                        <div class="col">
                            <div style="text-align:center;height:13%">z</div>
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&arw=U0U2,U3U5,U6U8&ac=green&sch=llllll">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo">
            公式概率
        </button>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                OLL總狀態數(前3個角塊隨機排列，第4塊將被確定，邊塊依此類推)
                <math>
                    {{ msup(3,3) }}
                    <mo>×</mo>
                    {{ msup(2,3) }}
                    <mo>=</mo>
                    <mn>216</mn>
                </math>
                <table style="width: auto;height: auto;">
                    <tr>
                        <th style="width: 55px;">對稱軸</th>
                        <th>圖例</th>
                        <th style="width: 35px;">數量</th>
                        <th style="width: 35px;">機率</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&stage=oll&cc=black">
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&stage=oll&cc=black&case=SR%27U%27RURURU%27R%27S%27">
                        </td>
                        <td>2</td>
                        <td><math>{{ mfrac(1,216) }}</math></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&stage=oll&cc=black&case=RU2R%27U%27RUR%27U%27RU%27R%27">
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&stage=oll&cc=black&case=RU2R2FRF%27U2R%27FRF%27">
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&stage=oll&cc=black&case=RUR%27U%27M%27URU%27r%27">
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&stage=oll&cc=black&case=rUr%27URU%27R%27URU%27R%27rU%27r%27">
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&stage=oll&cc=black&case=R%27FRURU%27R2F%27R2U%27R%27URUR%27">
                        </td>
                        <td>5</td>
                        <td><math>{{ mfrac(1,108) }}</math></td>
                    </tr>
                    <tr>
                        <td>0,1</td>
                        <td>剩餘情況</td>
                        <td>51</td>
                        <td><math>{{ mfrac(1,54) }}</math></td>
                    </tr>
                </table>
                PLL總狀態數(無法對邊互換，且重複計算4次)
                <math>
                    <mn> 4 </mn>
                    <mo> ! ×</mo>
                    <mn> 4 </mn>
                    <mo> ! ×</mo>
                    {{ mfrac(1,2) }}
                    <mo>×</mo>
                    {{ mfrac(1,4) }}
                    <mo>=</mo>
                    <mn>72</mn>
                </math>
                <table style="width: auto;height: auto;">
                    <tr>
                        <th style="width: 35px;">方向</th>
                        <th>圖例</th>
                        <th style="width: 35px;">數量</th>
                        <th style="width: 35px;">機率</th>
                    </tr>
                    <tr>
                        <td>單</td>
                        <td><img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&case=RUR%27URUR%27F%27RUR%27U%27R%27FR2U%27R%27U2RU%27R%27&arw=U3U5,U5U3,U2U6,U6U2">
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&case=R%27URU%27R%27F%27U%27FRUR%27FR%27F%27RU%27R&arw=U3U5,U5U3,U0U8,U8U0">
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&case=M2UM2U2M2UM2&arw=U3U5,U5U3,U1U7,U7U1">
                            <img src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan">
                        </td>
                        <td>4</td>
                        <td><math>{{ mfrac(1,72) }}</math></td>
                    </tr>
                    <tr>
                        <td>雙</td>
                        <td><img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&case=M2UM2UM%27U2M2U2M%27U2&arw=U7U5,U5U7,U1U3,U3U1">
                            <img
                                src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&view=plan&case=x%27RU%27R%27DRUR%27D%27RUR%27DRU%27R%27D%27x&arw=U0U6,U6U0,U2U8,U8U2">
                        </td>
                        <td>2</td>
                        <td><math>{{ mfrac(1,36) }}</math></td>
                    </tr>
                    <tr>
                        <td>四</td>
                        <td>剩餘情況</td>
                        <td>16</td>
                        <td><math>{{ mfrac(1,18) }}</math></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree">
            三階魔方狀態數
        </button>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <math>
                    <mn> 8 </mn>
                    <mo> ! ×</mo>
                    {{ msup(3,8) }}
                    <mo>×</mo>
                    <mn> 12 </mn>
                    <mo> ! ×</mo>
                    {{ msup(2,12) }}
                    <mo> ×</mo>
                    {{ mfrac(1,3) }}
                    <mo> ×</mo>
                    {{ mfrac(1,2) }}
                    <mo> ×</mo>
                    {{ mfrac(1,2) }}<br>
                    <mo>=</mo>
                    <mn> 43,252,003,274,489,856,000 </mn>
                </math><br>
                <math>
                    <mn> 8 </mn>
                    <mo> ! ×</mo>
                    {{ msup(3,8) }}
                    <mo>=</mo>
                </math>
                角塊排列×角塊方向，邊塊依此類推<br>
                <math>
                    {{ mfrac(1,3) }}
                    <mo> ×</mo>
                    {{ mfrac(1,2) }}
                    <mo> ×</mo>
                    {{ mfrac(1,2) }}
                    <mo>=</mo>
                </math>
                單角塊翻轉×單邊塊翻轉×雙邊塊互換
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour">
            上帝之數
        </button>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                將三階魔方打亂後，最小還原步數為多少？
                <table style="width: auto;height: auto;">
                    <tr>
                        <th>步數</th>
                        <th>需要此步數的狀態總數</th>
                    </tr>
                    {% for i in range(21) %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{god[i]}}</td>
                    </tr>
                    {% endfor%}
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive">
            七步十字
        </button>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                CROSS總狀態數(12個邊塊取4個，且每塊有2個方向)
                <math>
                    <msubsup>
                        <mrow>
                            <mi> P </mi>
                        </mrow>
                        <mrow>
                            <mn> 4 </mn>
                        </mrow>
                        <mrow>
                            <mn> 12 </mn>
                        </mrow>
                    </msubsup>
                    <mo> ×</mo>
                    {{ msup(2,4) }}
                    <mo>=</mo>
                    <mn> 190,080 </mn>
                </math>
                <table style="width: auto;height: auto;">
                    <tr>
                        <th>最少幾步</th>
                        <th>需要此步數的狀態總數</th>
                        <th>發生機率(%)</th>
                    </tr>
                    {% for i in range(9) %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{cross[0][i]}}</td>
                        <td>{{cross[1][i]}}</td>
                    </tr>
                    {% endfor%}
                    <tr>
                        <td>共</td>
                        <td>190,080</td>
                        <td>100</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix">
            魔方英文
        </button>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                二階：Pocket Rubik's Cube，直譯"口袋魔方"。<br>
                三階：Rubik's Cube，取自鲁比克教授的名字。<br>
                四階：Rubik's Revenge，直譯"魯比克的復仇"。<br>
                五階：Professor's Cube，直譯"專家玩的方塊"。
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven">
            魔方配色
        </button>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                目前魔方流行的配色方案有兩種，一種就是世界標準配色，即BOY Color Scheme；另一種是日本配色，即BYO Color
                Scheme。兩種配色方案用的顏色都是一樣的，不同之處是藍黃顏色互換，用日本配色做CFOP的时候，一般以藍色為底做十字，而標準配色下則以白色為底做十字。<br>魔方六面的顏色是基於
                CMYK 的減色模式，在任一面中加入/減去黄色，就能得到它相對的顏色。Daisy colors(白色+黄色=黄色) Hot colors(红色+黄色=橘色) Cold
                colors(藍色+黄色=綠色)。
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight">
            製造極限
        </button>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                假設魔方一個塊的邊長為1，魔方的階數為n。我們能轉動的極限是45度，此時角塊距離中心塊最遠，n-2的斜邊長必須＜n。
                <math>
                    <msqrt>
                        <mn>2</mn>
                    </msqrt>
                    <mo>×（</mo>
                    <mn>n</mn>
                    <mo>-</mo>
                    <mn>2</mn>
                    <mo>）＜</mo>
                    <mn>n</mn>
                </math>，
                <math>
                    <mn>n</mn>
                    <mo>＜</mo>
                    <mn>6.828</mn>
                </math>
                <div class="container">
                    <div class="row row-cols-3 row-cols-md-4">
                        <div class="col">
                            <img src="static/6.png">
                        </div>
                        <div class="col">
                            <img src="static/7.png">
                        </div>
                        <div class="col">
                            <img src="static/10.png">
                        </div>
                    </div>
                </div>
                我們得到了七階以上的魔方不能保證每個方塊大小都一样，解決方法有<strong>不等寬設計</strong>或<strong>弧形設計</strong>。
                <img src="./static/make.png" style="width: 88vw;max-width: 500px;">
            </div>
        </div>
    </div>
</div>
{% endblock %}