{% extends "base.html" %} {% block content %}
<table>
	<tr>
		<td>
			<a href="#c01" class="click">白色邊塊</a>
		</td>
		<td>
			<a href="#c02" class="click">白色角塊</a>
		</td>
		<td>
			<a href="#c03" class="click">第二層</a>
		</td>
		<td>
			<a href="#c04" class="click">黃色邊塊</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#c05" class="click">黃色角塊</a>
		</td>
		<td>
			<a href="#c06" class="click">頂層角塊</a>
		</td>
		<td>
			<a href="#c07" class="click">頂層邊塊</a>
		</td>
	</tr>
</table>
<p><span class="big">LBL</p>
<ul>
	<li>逐層解法：一層一層解</li>
	<li>所有白色角塊和邊塊為底層(第一層)</li>
	<li>紅藍.藍橘.橘綠.綠紅，這四塊邊塊為中間層(第二層)</li>
	<li>所有黃色角塊和邊塊為頂層(第三層)</li>
	<li>任何情況下，頂層皆可自由旋轉，不會亂掉</li>
	<li><strong>每一步驟</strong>皆須按照各<strong>中心塊的相對位置</strong>排列，不再是舊有思維一面一面轉</li>
</ul>
<p><span class="big" id="c01">STEP1.白色邊塊</span></p>
<p style="margin-left: 10px;">以<strong>白綠</strong>當成最後一組示範，須完成<strong>白紅.白藍.白橘.白綠</strong>。無須公式，靠空間概念。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=C1">STEP1目標
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C1|alg=u R' u'">最後一組較特殊狀況(1)
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C1|alg=R' u R' u'">最後一組較特殊狀況(2)
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C1|alg=F R' F'">最後一組較特殊狀況(3)
			</div>
		</div>
	</div>
</div>
<p style="margin-left: 10px;">如果真的沒想法，可以參考<a href="/cross">CFOP CROSSS</a>。</p>
<p><span class="big" id="c02">STEP2.白色角塊</span></p>
<p style="margin-left: 10px;">以<strong>白紅綠</strong>角塊為代表，須完成<strong>四組白色角塊</strong>。文字為暴力解法，動畫為加速解法。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="colored= D* */m">STEP2目標<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C2|alg=R U R'">基本型1:上左下右一次<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C2|alg=R U2 R' U' R U R'">基本型2:上左下右三次<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C2|alg=U R U' R'">基本型3:上左下右五次<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class="roofpig"
				data-config="speed=800|tweaks=x:Rfu X:rFU|flags=showalg startsolved|colored= D*/e */m FRD|alg=R U R' U'|solved=DRF">
				想要完成的角塊在底層:<br>做基本型就會被擠出來
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c03">STEP3.第二層</span></p>
<p style="margin-left: 10px;">以<strong>紅綠</strong>邊塊為代表，須完成所有中間層邊塊。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="colored= U- */m">STEP3目標<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C3|alg=U R U' R' U' F' U F">基本型1: <br>左上右下換面右上左下
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C3|alg=U' F' U F U R U' R'">基本型2: <br>右上左下換面左上右下
			</div>
		</div>
		<div class="col">
			<div class="roofpig"
				data-config="speed=800|tweaks=X:UF|flags=showalg startsolved|colored= D* */m FR|alg=U R U' R' U' F' U F|solved=RF">
				想要的邊塊在中間層:<br>做基本型就會被擠出來
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c04">STEP4.黃色邊塊</span></p>
<p style="margin-left: 10px;">所有<strong>黃色邊塊朝上</strong>就行，使用六步法。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=C4">STEP4目標
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C4|alg=F R U R' U' F'">一型: 小撇(上左下右)回
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C4|alg=f R U R' U' f'">L型: 大撇(上左下右)回
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C4|alg=F R U R' U' F'|setupmoves=F R U R' U' F' U2">點型:做一型就會變L型
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c05">STEP5.黃色角塊</span></p>
<p style="margin-left: 10px;">
	所有<strong>黃色角塊朝上</strong>就行，總共有七種樣式，持續試公式直到完成目標。找不到小魚(角塊一好三壞)就將<strong>壞的角塊擺左上</strong>。
</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=C5">STEP5目標<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C5|alg=R' U' R U' R' U2 R|setupmoves=U2">小魚型:<br>下右上右下右右上
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C5|alg=R' U' R U' R' U2 R|setupmoves=R' U' R U' R' U2 R U2">
				非小魚範例<br>&nbsp;
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c06">STEP6.頂層角塊</span></p>
<p style="margin-left: 10px;">只有兩種樣式:<strong>有眼</strong>和<strong>無眼</strong>。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=C6">STEP6目標<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class=roofpig data-config="colored= u ULf ULb">眼:將眼擺在左邊<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C6|alg=R U2 R' U' R U2 L' U R' U' L">基本型:<br>&nbsp;
			</div>
		</div>
		<div class="col">
			<div class="roofpig"
				data-config="base=C6|alg=R U2 R' U' R U2 L' U R' U' L|setupmoves=U R U2 R' U' R U2 L' U R' U' L U2">
				找不到眼:<br>做基本型就會變基本型
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c07">STEP7.頂層邊塊</span></p>
<p style="margin-left: 10px;">總共有四種樣式，持續試公式直到完成目標。找不到基本型(邊塊一好三壞)就將<strong>壞的邊塊擺對面</strong>。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=C7">STEP7目標
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=C7|alg=z U' R U' R' U' R' U' R U R U2' z'">基本型(好的擺對面):
			</div>
		</div>
		<div class="col">
			<div class="roofpig"
				data-config="base=C7|alg=z U' R U' R' U' R' U' R U R U2' z'|setupmoves=U2 z U' R U' R' U' R' U' R U R U2' z' U2">
				非基本型範例
			</div>
		</div>
	</div>
</div>
<script>
	ROOFPIG_CONF_C1 = "speed=800|flags=showalg|colored= D*/e */m"
	ROOFPIG_CONF_C2 = "speed=800|flags=showalg|colored= D*/e */m FRD"
	ROOFPIG_CONF_C3 = "speed=800|flags=showalg|colored= D* */m FR"
	ROOFPIG_CONF_C4 = "speed=800|flags=showalg|colored= U- */m u/e"
	ROOFPIG_CONF_C5 = "speed=800|flags=showalg|colored= U- u"
	ROOFPIG_CONF_C6 = "speed=800|flags=showalg|colored= U- u U*/c"
	ROOFPIG_CONF_C7 = "speed=800|flags=showalg|"
</script>
{% endblock %}