{% extends "base.html" %} {% block content %}
<div id="tabs10">
	<ul>
		<a href="/">
			<li>首頁</li>
		</a>
		<a href="/special">
			<li>花式</li>
		</a>
		<a href="/lbl">
			<li class="g4">LBL</li>
		</a>
		<a href="/cross">
			<li>CFOP</li>
		</a>
	</ul>
</div>
<div id="container2">
	<p>&nbsp;</p>
	<table>
		<tr>
			<td>
				<a href="#c01" class="click">白色邊塊</a>
			</td>
			<td>
				<a href="#c02" class="click">白色角塊</a>
			</td>
			<td>
				<a href="#c03" class="click">第二層</a>
			</td>
			<td>
				<a href="#c04" class="click">黃色邊塊</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#c05" class="click">黃色角塊</a>
			</td>
			<td>
				<a href="#c06" class="click">頂層角塊</a>
			</td>
			<td>
				<a href="#c07" class="click">頂層邊塊</a>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p><span class="big">LBL</p>
	<ul>
		<li>逐層解法:一層一層解</li>
		<li>所有白色角塊和邊塊為底層(第一層)</li>
		<li>紅藍.藍橘.橘綠.綠紅，這四塊邊塊為中間層(第二層)</li>
		<li>所有黃色角塊和邊塊為頂層(第三層)</li>
		<li><strong>每一步驟</strong>皆須按照各<strong>中心塊的相對位置</strong>排列，不再是舊有思維一面一面轉</li>
	</ul>
	<p><span class="big" id="c01">STEP1.白色邊塊&nbsp;&nbsp;※無須公式，靠空間概念</span></p>
	<div class="roofpig" data-config="base=C1">STEP1目標
	</div>
	<li class="title2"><strong>以白綠當成最後一組示範<br>須完成白紅.白藍.白橘.白綠</strong></li>
	<li class="title2"></li>
	<li class="title2"></li>
	<div class="roofpig" data-config="base=C1|alg=u R' u'">最後一組較特殊狀況(1)
	</div>
	<div class="roofpig" data-config="base=C1|alg=R' u R' u'">最後一組較特殊狀況(2)
	</div>
	<div class="roofpig" data-config="base=C1|alg=F R' F'">最後一組較特殊狀況(3)
	</div>
	<p style="margin-left: 10px;">如果真的沒想法，可以參考<a href="/cross">CFOP CROSSS</a>。</p>
	<p><span class="big" id="c02">STEP2.白色角塊&nbsp;&nbsp;※文字為暴力解法&nbsp;動畫為加速解法</span></p>
	<div class="roofpig" data-config="colored= D* */m">STEP2目標
	</div>
	<li class="title2"><strong>以白紅綠角塊為代表<br>須完成四組白色角塊</strong></li>
	<li class="title2"></li>
	<li class="title2"></li>
	<li class="title2">基本型1:上左下右一次</li>
	<li class="title2">基本型2:上左下右三次</li>
	<li class="title2">基本型3:上左下右五次</li>
	<li class="title2">想要完成的角塊在底層:<br>做基本型角塊就會被擠出來</li>
	<div class="roofpig" data-config="base=C2|alg=R U R'">
	</div>
	<div class="roofpig" data-config="base=C2|alg=R U2 R' U' R U R'">
	</div>
	<div class="roofpig" data-config="base=C2|alg=U R U' R'">
	</div>
	<div class="roofpig"
		data-config="speed=800|tweaks=x:Rfu X:rFU|flags=showalg startsolved|colored= D*/e */m FRD|alg=R U R' U'|solved=DRF">
	</div>
	<p><span class="big" id="c03">STEP3.第二層</span></p>
	<div class="roofpig" data-config="colored= U- */m">STEP3目標
	</div>
	<li class="title2"><strong>以紅綠邊塊為代表<br>須完成所有中間層邊塊</strong></li>
	<li class="title2"></li>
	<li class="title2"></li>
	<li class="title2">基本型1: <br>左上右下換面右上左下</li>
	<li class="title2">基本型2: <br>右上左下換面左上右下</li>
	<li class="title2">想要完成的邊塊在中間層:<br>做基本型邊塊就會被擠出來</li>
	<li class="title2"></li>
	<div class="roofpig" data-config="base=C3|alg=U R U' R' U' F' U F">
	</div>
	<div class="roofpig" data-config="base=C3|alg=U' F' U F U R U' R'">
	</div>
	<div class="roofpig"
		data-config="speed=800|tweaks=X:UF|flags=showalg startsolved|colored= D* */m FR|alg=U R U' R' U' F' U F|solved=RF">
	</div>
	<p><span class="big" id="c04">STEP4.黃色邊塊&nbsp;&nbsp;※六步法</span></p>
	<div class="roofpig" data-config="base=C4">STEP4目標
	</div>
	<li class="title2"><strong>所有黃色邊塊朝上就行</strong></li>
	<li class="title2"></li>
	<li class="title2"></li>
	<div class="roofpig" data-config="base=C4|alg=F R U R' U' F'">一型: 小撇(上左下右)回
	</div>
	<div class="roofpig" data-config="base=C4|alg=f R U R' U' f'">L型: 大撇(上左下右)回
	</div>
	<div class="roofpig" data-config="base=C4|alg=F R U R' U' F'|setupmoves=F R U R' U' F' U2">點型:做一型就會變L型
	</div>
	<p><span class="big" id="c05">STEP5.黃色角塊&nbsp;&nbsp;※找不到小魚(角塊一好三壞)就將不好的角塊擺左上</span></p>
	<div class="roofpig" data-config="base=C5">STEP5目標
	</div>
	<li class="title2"><strong>所有黃色角塊朝上就行<br>總共有七種樣式<br>持續代公式直到完成目標</strong></li>
	<li class="title2"></li>
	<li class="title2"></li>
	<div class="roofpig" data-config="base=C5|alg=R' U' R U' R' U2 R|setupmoves=U2">小魚型:下右上右下右右上
	</div>
	<div class="roofpig" data-config="base=C5|alg=R' U' R U' R' U2 R|setupmoves=R' U' R U' R' U2 R U2">非小魚範例
	</div>
	<p><span class="big" id="c06">STEP6.頂層角塊</span></p>
	<div class="roofpig" data-config="base=C6">STEP6目標
	</div>
	<li class="title2"><strong>只有兩種樣式:有眼.無眼</strong></li>
	<li class="title2"></li>
	<li class="title2"></li>
	<li class="title2">眼:將眼擺在左邊</li>
	<li class="title2">基本型:上左左下右上左左上左下右下</li>
	<li class="title2">找不到眼:<br>做基本型就會變基本型</li>
	<li class="title2"></li>
	<div class=roofpig data-config="colored= u ULf ULb">
	</div>
	<div class="roofpig" data-config="base=C6|alg=R U2 R' U' R U2 L' U R' U' L">
	</div>
	<div class="roofpig"
		data-config="base=C6|alg=R U2 R' U' R U2 L' U R' U' L|setupmoves=U R U2 R' U' R U2 L' U R' U' L U2">
	</div>
	<p><span class="big" id="c07">STEP7.頂層邊塊&nbsp;&nbsp;※找不到基本型(邊塊一好三壞)就將不好的邊塊擺對面</span></p>
	<div class="roofpig" data-config="base=C7">STEP7目標
	</div>
	<li class="title2"><strong>總共有四種樣式<br>持續代公式直到完成目標</strong></li>
	<li class="title2"></li>
	<li class="title2"></li>
	<li class="title2">基本型(好的擺對面):右上右下右下右上左上右右</li>
	<li class="title2">非基本型範例</li>
	<li class="title2"></li>
	<li class="title2"></li>
	<div class="roofpig" data-config="base=C7|alg=z U' R U' R' U' R' U' R U R U2' z'">
	</div>
	<div class="roofpig"
		data-config="base=C7|alg=z U' R U' R' U' R' U' R U R U2' z'|setupmoves=U2 z U' R U' R' U' R' U' R U R U2' z' U2">
	</div>
</div>
<script>
	ROOFPIG_CONF_C1 = "speed=800|flags=showalg|colored= D*/e */m"
	ROOFPIG_CONF_C2 = "speed=800|flags=showalg|colored= D*/e */m FRD"
	ROOFPIG_CONF_C3 = "speed=800|flags=showalg|colored= D* */m FR"
	ROOFPIG_CONF_C4 = "speed=800|flags=showalg|colored= U- */m u/e"
	ROOFPIG_CONF_C5 = "speed=800|flags=showalg|colored= U- u"
	ROOFPIG_CONF_C6 = "speed=800|flags=showalg|colored= U- u U*/c"
	ROOFPIG_CONF_C7 = "speed=800|flags=showalg|"
</script>
{% endblock %}