{% extends "base.html" %} {% block content %}
<table>
	<tr>
		<td>
			<a href="#c01" class="click">底層邊塊</a>
		</td>
		<td>
			<a href="#c02" class="click">底層角塊</a>
		</td>
		<td>
			<a href="#c03" class="click">中間層</a>
		</td>
		<td>
			<a href="#c04" class="click">黃色邊塊</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#c05" class="click">黃色角塊</a>
		</td>
		<td>
			<a href="#c06" class="click">頂層角塊</a>
		</td>
		<td>
			<a href="#c07" class="click">頂層邊塊</a>
		</td>
	</tr>
</table>
<p><span class="big">LBL</p>
<ul>
	<li>1.層解法(Layer By Layer)：一層一層解，魔方沒辦法一面一面解</li>
	<li>2.角塊：方塊的所有角落，有<strong>8</strong>個，一塊有<strong>三個顏色</strong></li>
	<li>2.邊塊：角塊之間的塊，有<strong>12</strong>個，一塊有<strong>兩個顏色</strong></li>
	<li>4.底層：所有白色角塊和邊塊</li>
	<li>5.中間層：紅藍.藍橘.橘綠.綠紅</li>
	<li>6.頂層：所有黃色角塊和邊塊</li>
	<li>7.任何情況下，頂層皆可自由旋轉</li>
	<li>8.本網站全部視角皆使用UFR視角</li>
	<img src="static/solve.png" style="display: block;margin-left: 2vw;width: 200px;">
</ul>
<p><span class="big" id="c01">STEP1.底層邊塊</span></p>
<p style="margin-left: 2vw;"><strong>無須公式</strong>，靠空間概念。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">只需觀察
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4w4w4w4w4444444444444g44444444b444444o4444444444r44444&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">目標狀態
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4w4www4w4444444444444gg4444444bb44444o44o4444444rr4444&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">錯誤狀態
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4w4www4w4444444444444gr4444444bb44444o44o4444444rg4444&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">轉完之後<strong>朝下</strong>
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y44444w4www4w44444rr4444444oo4444444b44b44444gg444&buttonbar=0")</script>
			</div>
		</div>
	</div>
</div>
<p style="margin-left: 2vw;">如果真的沒想法，可以參考<a href="/cross">CFOP CROSS</a>。</p>
<p><span class="big" id="c02">STEP2.底層角塊</span></p>
<p style="margin-left: 2vw;">以<strong>白紅綠</strong>做示範。<strong>從這步開始白色面固定朝下</strong>。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">只需觀察<br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=444444444w4w444w4w44r44444r44o44444o444444b4b44g44444g&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">目標狀態<br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y4444wwwwwwwww44r4rr44r44o4oo44o4444b4bbb44g4gg44g&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">白朝右<br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y44444w4wwwww44444rr44r4444oo4444444b44b444g4gg444&move=R U R'")</script>
			</div>
		</div>
		<div class="col">白朝上<br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y44444w4wwwww44444rr44r4444oo4444444b44b444g4gg444&move=R U2 R' U' R U R'")</script>
			</div>
		</div>
		<div class="col">白朝自己<br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y44444w4wwwww44444rr44r4444oo4444444b44b444g4gg444&move=U R U' R'")</script>
			</div>
		</div>
		<div class="col">想用的角塊在底層：<br>做<strong>白朝右</strong>就會換出來
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=d444y44444w4www4w4d444rr4444444oo444d444b44b44444gg444&move=R U R'")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c03">STEP3.中間層</span></p>
<p style="margin-left: 2vw;">以<strong>紅綠</strong>做示範。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">只需觀察<br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444444444444444444r44444r44o44444o4444b4b4444g44444g4&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">目標狀態<br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y4444wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">往右倒 <br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y4444wwwwwwwww44r4rr4rr44o4oo44o4444b4bbb4gg4gg44g&move=U R U' R' U' F' U F")</script>
			</div>
		</div>
		<div class="col">往左倒 <br>&nbsp;
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y4444wwwwwwwww44r4rr4rr44o4oo44o4444b4bbb4gg4gg44g&move=U' F' U F U R U' R'")</script>
			</div>
		</div>
		<div class="col">想用的邊塊在中間層：<br>做<strong>往右倒</strong>就會被出來
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4444y44d4wwwwwwwww44r4rr44r44odoo44o4444b4bbb44g4gg44g&move=U R U' R' U' F' U F")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c04">STEP4.黃色邊塊</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">只需觀察
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4y4y4y4y4444444444444444444444444444444444444444444444&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">目標狀態
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4y4yyy4y4wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">一型
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4y4yyy4y4wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F R U R' U' F'")</script>
			</div>
		</div>
		<div class="col">L型
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4y4yyy4y4wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=f R U R' U' f'")</script>
			</div>
		</div>
		<div class="col">點型：做一型就L型
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=4y4yyy4y4wwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F R U R' U' F'&initmove=F R U R' U' F' U2")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c05">STEP5.黃色角塊</span></p>
<p style="margin-left: 2vw;">
	利用<strong>小魚</strong>持續試公式直到完成目標。
</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">只需觀察
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=y4y444y4y444444444444444444444444444444444444444444444&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">目標狀態
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">小魚(角塊一好三壞)
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R' U' R U' R' U2' R")</script>
			</div>
		</div>
		<div class="col">非小魚範例
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R' U' R U' R' U2' R&initmove=R' U' R U' R' U2 R U2")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c06">STEP6.頂層角塊</span></p>
<p style="margin-left: 2vw;">只有兩種樣式：<strong>有眼</strong>和<strong>無眼</strong>。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">只需觀察
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=444444444444444444r44444r44o44444o44b4b444444g44444g44&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">目標狀態
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=yyyyyyyyywwwwwwwwwrrr4rrrrrooo4ooooob4bbbbbbbggg4ggggg&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">眼長這樣
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=yyyyyyyyy444444444444444444444444444b4b444444444444444&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">有眼
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=yyyyyyyyywwwwwwwwwrrr4rrrrrooo4ooooob4bbbbbbbggg4ggggg&move=R U2 R' U' R U2 L' U R' U' L")</script>
			</div>
		</div>
		<div class="col">無眼：做<strong>有眼</strong>就有眼
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=yyyyyyyyywwwwwwwwwrrr4rrrrrooo4ooooob4bbbbbbbggg4ggggg&move=R U2 R' U' R U2 L' U R' U' L&initmove=U R U2 R' U' R U2 L' U R' U' L U2")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c07">STEP7.頂層邊塊</span></p>
<p style="margin-left: 2vw;">利用<strong>換三邊</strong>持續試公式直到完成目標。</p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">只需觀察
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&facelets=444444444444444444444r44444444o444444b4444444444g44444&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">目標狀態
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&buttonbar=0")</script>
			</div>
		</div>
		<div class="col">換三邊(好的邊擺對面)
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&move=z U' R U' R' U' R' U' R U R U2' z'")</script>
			</div>
		</div>
		<div class="col">非換三邊範例
			<div class="cube">
				<script>AnimCube3("config=AnimCube.txt&move=z U' R U' R' U' R' U' R U R U2' z'&initmove=U2 z U' R U' R' U' R' U' R U R U2' z' U2")</script>
			</div>
		</div>
	</div>
</div>
{% endblock %}