<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="icon"
        href="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=400&case=U%27F%27L2U2R2B%27DL2D%27B2UF2UF2UR2x2"
        type="image/svg+xml">
    <title>個人履歷</title>
    <meta name="description" content="這份履歷能讓您更了解我。">
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-7 col-lg-8">
                <div class="avatar d-flex justify-content-center">
                    <img class="avatar-img" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
                </div>
                <h1 class="name text-center">
                    蔡昇倫
                </h1>
            </div>
            <div class="col-auto">
                <div class="social-media">
                    <a class="social-media-link" href="mailto:tsailun5731@gmail.com">
                        <i class="fa fa-envelope fa-lg"></i>　tsailun5731@gmail.com
                    </a>
                    <a class="social-media-link" href="tel:0905910311" target="_blank">
                        <i class="fa fa-phone fa-lg"></i>　0905910311
                    </a>
                    <a class="social-media-link" href="https://line.me/ti/p/UW5Wp_Ezeb" target="_blank">
                        <i class="fab fa-line fa-lg"></i>　0905910311
                    </a>
                    <a class="social-media-link" href="/">
                        <div class="cube">　　 蔡倫魔方</div>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <h2>簡歷</h2>
                <hr>
                <p>
                    我是 AC Genie，是 ALPHA Camp 學習體驗 (Student Success) 團隊的一員。
                    為了協助同學們能在課程中能有效學習與成長，我將扮演你的最佳學習夥伴與教練，時時觀測你在平台上的學習與進展，進而提供同學們學習意見與協助。
                </p>
                <h2>專業技能</h2>
            </div>
            <div class="col-12 col-sm-4">
                <hr>
                <h3>程式設計初級</h3>
                <p>
                    熟悉HTML、CSS和JS，大學專題研究深度學習，大眾程式皆有接觸，自學快!
                </p>
            </div>
            <div class="col-12 col-sm-4">
                <hr>
                <h3>自動控制中級</h3>
                <p>
                    能讀懂設計圖按圖施工，並且了解其原理，PLC及人機程式也瞭若指掌。
                </p>
            </div>
            <div class="col-12 col-sm-4">
                <hr>
                <h3>室配中級</h3>
                <p>
                    前端。
                </p>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>工作經歷</h2>
                </div>
                <div class="col-12 col-xl-4">
                    <hr>
                    <h3>弱電工程</h3>
                    <span class="company"><i class="far fa-building"></i>傳晁工程</span>
                    <span class="duration"><i class="far fa-calendar-alt"></i>2017年 - 2023年 每年寒暑假</span>
                    <p>
                        國三開始在我爸公司打工，完成了新竹警察局天羅地網工程、各電信基地台架設及查修、台電光纖環台工程、企業UPS安裝及維修...等。

                    </p>
                </div>
                <div class="col-12 col-xl-4">
                    <hr>
                    <h3>外送員</h3>
                    <span class="company"><i class="far fa-building"></i>Uber eat</span>
                    <span class="duration"><i class="far fa-calendar-alt"></i>2022年10月 - 至今</span>
                    <p>
                        晚上及假日兼職，學不到什麼專業，但能體驗到服務業的"與人相處之道"。
                    </p>
                </div>
                <div class="col-12 col-xl-4">
                    <hr>
                    <h3>室配工程</h3>
                    <span class="company"><i class="far fa-building"></i>方俊工程</span>
                    <span class="duration"><i class="far fa-calendar-alt"></i>2024年2月 - 2024年5月</span>
                    <p>
                        大四下學期實習，主要完成麥寮台塑工業區新建員工休息區、虎尾化學廠消防用電及緊急照明。
                        當中學到如何配防爆管以及最重要的"如何當一位帶班監工"。
                    </p>
                </div>
                <div class="col-12 col-xl-4">
                    <hr>
                    <h3>行銷設計</h3>
                    <span class="company"><i class="far fa-building"></i>Alpha Camp</span>
                    <span class="duration"><i class="far fa-calendar-alt"></i>2017 年 7 月 - 2018 年 7
                        月</span>
                    <p>
                        負責CIS與平面設計並印刷發包。
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<!--  d8'                    888888888888                    88     88
88   d8'                          88                         ""     88
88  ""                            88                                88
88    88,dPYba,,adPYba,           88  ,adPPYba,  ,adPPYYba,  88     88          88       88  8b,dPPYba,
88    88P'   "88"    "8a          88  I8[    ""  ""     `Y8  88     88          88       88  88P'   `"8a
88    88      88      88          88   `"Y8ba,   ,adPPPPP88  88     88          88       88  88       88
88    88      88      88          88  aa    ]8I  88,    ,88  88     88          "8a,   ,a88  88       88
88    88      88      88          88  `"YbbdP"'  `"8bbdP"Y8  88     88888888888  `"YbbdP'Y8  88      -->

</html>