{% extends "base.html" %} {% block content %}
{% set ollmenu = ["01", "01", "01", "01", "01", "01", "01", "02", "02", "02",
"02", "03", "04", "04", "04", "04", "05", "05", "05", "05",
"06", "06", "06", "06", "07", "07", "07", "07", "07", "07",
"06", "06", "06", "06", "07", "07", "07", "07", "07", "07",
"06", "06", "06", "06", "07", "07", "07", "07", "07", "07",
"08", "08", "08", "09", "09", "09", "10"] %}
<table>
    <tr>
        <td style="width: 25%">
            <a href="/cross">CROSS</a>
        </td>
        <td style="width: 25%">
            <a href="/f2l">F2L</a>
        </td>
        <td style="width: 25%;background-color: #526d98;color: #e7e5e3;">OLL
        </td>
        <td style="width: 25%">
            <a href="/pll">PLL</a>
        </td>
    </tr>
</table>
<table>
    {% for i in range(5) %}
    <tr>
        {% for j in range(10) %}
        {% if i==0 and j!=9 %}
        <td>
            <a href="#c{{ollmenu[j]}}">0{{j+1}}</a>
        </td>
        {% else %}
        <td>
            <a href="#c{{ollmenu[i*10+j]}}">{{i*10+j+1}}</a>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        {% for i in range(7) %}
        <td>
            <a href="#c{{ollmenu[50+i]}}">{{51+i}}</a>
        </td>
        {% endfor %}
    </tr>
</table>
<p><span class="big" id="c01">十字型</span></p>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">01
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U' L' U R' U' L")</script>
            </div>
        </div>
        <div class="col">02
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=L' U R U' L U R'")</script>
            </div>
        </div>
        <div class="col">03
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U2 R' U' R U R' U' R U' R'")</script>
            </div>
        </div>
        <div class="col">04
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U2' R2' U' R2 U' R2' U2' R")</script>
            </div>
        </div>
        <div class="col">05
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=r U R' U' L' U l F'")</script>
            </div>
        </div>
        <div class="col">06
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' r U R' U' L' U l")</script>
            </div>
        </div>
        <div class="col">07
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R' U2' R F U' R' U' R U F'")</script>
            </div>
        </div>
    </div>
</div>
<p><span class="big" id="c02">T字型&風箏型</span></p>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">08 sexy move(SM)
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F R U R' U' F'")</script>
            </div>
        </div>
        <div class="col">09 Y-perm衍生
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U R' U' l' U l F'")</script>
            </div>
        </div>
        <div class="col">10 Y-perm衍生
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F R U' R' U' R U R' F'")</script>
            </div>
        </div>
        <div class="col">11
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R U2 l' R' U R U' l U2' R'")</script>
            </div>
        </div>
    </div>
</div>
<p><span class="big" id="c03">SM衍生</span></p>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">12
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F R U R' U' R U R' U' F'")</script>
            </div>
        </div>
        <div class="col">13
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F U R U' R' F'")</script>
            </div>
        </div>
        <div class="col">14
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F U R U' R' U R U' R' F'")</script>
            </div>
        </div>
        <div class="col">15
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=R' U' F' U F R")</script>
            </div>
        </div>
        <div class="col">16
            <div class="cube">
                <script>AnimCube3("facelets=yyyyyyyyywwwwwwwww4rr4rr4rr4oo4oo4oo444bbbbbb4gg4gg4gg&move=F' L' U' L U L' U' L U F")</script>
            </div>
        </div>
    </div>
</div>
{% endblock %}