{% extends "base.html" %}
{% block content %}
<p><span class="big">二階速解Ortega</span></p>
<p style="margin-left: 2vw;"><strong>STEP1.底面</strong></p>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=U R2 U' R2'&facelets=4444wwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
        <div class="col">
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R U R U' R2'&facelets=4444wwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
        <div class="col">
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=F R U' R'&facelets=4444wwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
    </div>
</div>
<p style="margin-left: 2vw;"><strong>STEP2.OLL</strong></p>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">　
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R U' L' U R' U' L&facelets=yyyywwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
        <div class="col">　
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=L' U R U' L U R'&facelets=yyyywwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
        <div class="col">Ortega獨有
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R2 U2 R U2 R2&facelets=yyyywwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
        <div class="col">　
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=F R U R' U' R U R' U' F'&facelets=yyyywwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
        <div class="col">　
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R U R' U' R' F R F'&facelets=yyyywwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
        <div class="col">　
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=F R U' R' U' R U R' F'&facelets=yyyywwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
        <div class="col">　
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=F R U R' U' F'&facelets=yyyywwww4r4r4o4o44bb4g4g")</script>
            </div>
        </div>
    </div>
</div>
<p style="margin-left: 2vw;"><strong>STEP3.PBL</strong></p>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">對角
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R U2 R' U' R U2 L' U R' U' L")</script>
            </div>
        </div>
        <div class="col">斜角
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=F R U' R' U' R U R' F' R U R' U' R' F R F'")</script>
            </div>
        </div>
        <div class="col">斜角/斜角
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R2 F2 R2")</script>
            </div>
        </div>
        <div class="col">斜角/對角
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R2 U R2 U' R2 U R2 U' R2")</script>
            </div>
        </div>
        <div class="col">對角/斜角
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R' F R' F2 R U' R")</script>
            </div>
        </div>
        <div class="col">對角/對角
            <div class="cube">
                <script>AnimCube2("config=AnimCube.txt&move=R2 U' B2 U2 R2 U' R2")</script>
            </div>
        </div>
    </div>
</div>
<p><span class="big">四階特殊狀況</span></p>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        <div class="col">
            <div class="cube">單邊翻轉
                <script>AnimCube4("config=AnimCube.txt&move=r2 B2 U2 l U2 r' U2' r U2 F2 r F2 l' B2 r2&facelets=yyyyyyyyyyyyyyyywwwwwwwwwwwwwwww4rrr4rrr4rrr4rrr4ooo4ooo4ooo4ooo4444bbbbbbbbbbbb4ggg4ggg4ggg4ggg")</script>
            </div>
        </div>
        <div class="col">
            <div class="cube">對邊互換
                <script>AnimCube4("config=AnimCube.txt&move=2R2 U2 2R2 u2 2R2 2U2")</script>
            </div>
        </div>
    </div>
</div>
　
{% endblock %}