{% extends "base.html" %} {% block content %}
{% set pllmenu = ["剩邊型","剩角型","2 Pairs型","鄰角對邊型","對角鄰邊型","鄰角鄰邊型","雙環型","練習","總複習"]%}
<table>
	{% for i in range(3) %}
	<tr>
		{% for j in range(3) %}
		<td>
			<a href="#c{{i*3+j+1}}" class="click">{{pllmenu[i*3+j]}}</a>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<p><span class="big" id="c1">剩邊型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">Ua-perm
			<div class="cube">
				<script>AnimCube3("move=z' U L' U L U L U L' U' L' U2 z")</script>
			</div>
		</div>
		<div class="col">Ub-perm
			<div class="cube">
				<script>AnimCube3("move=z U' R U' R' U' R' U' R U R U2' z'")</script>
			</div>
		</div>
		<div class="col">H-perm
			<div class="cube">
				<script>AnimCube3("move=M2' U M2' U2 M2' U M2'")</script>
			</div>
		</div>
		<div class="col">Z-perm
			<div class="cube">
				<script>AnimCube3("move=U2 R' U' R U' R U R U' R' U R U R2 U' R'")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c2">剩角型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">Aa-perm
			<div class="cube">
				<script>AnimCube3("move=x' L' U L' D2 L U' L' D2 L2' x")</script>
			</div>
		</div>
		<div class="col">Ab-perm
			<div class="cube">
				<script>AnimCube3("move=x' R U' R D2 R' U R D2 R2 x")</script>
			</div>
		</div>
		<div class="col">E-perm
			<div class="cube">
				<script>AnimCube3("move=x' R U' R' D R U R' D' R U R' D R U' R' D' x")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c3">2 Pairs型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">Ja-perm
			<div class="cube">
				<script>AnimCube3("move=R' U2 R U R' U2' L U' R U L'")</script>
			</div>
		</div>
		<div class="col">Jb-perm
			<div class="cube">
				<script>AnimCube3("move=R U2 R' U' R U2 L' U R' U' L")</script>
			</div>
		</div>
		<div class="col">Na-perm
			<div class="cube">
				<script>AnimCube3("move=R U R' U R U2 R' U' R U2 L' U R' U' L U' R U' R'")</script>
			</div>
		</div>
		<div class="col">Nb-perm
			<div class="cube">
				<script>AnimCube3("move=R' U' R U' R' U2 R U R' U2' L U' R U L' U R' U R")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c4">鄰角對邊型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">T-perm
			<div class="cube">
				<script>AnimCube3("move=R U R' U' R' F R2 U' R' U' R U R' F'")</script>
			</div>
		</div>
		<div class="col">F-perm
			<div class="cube">
				<script>AnimCube3("move=R' U' F' R U R' U' R' F R2 U' R' U' R U R' U R")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c5">對角鄰邊型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">V-perm
			<div class="cube">
				<script>AnimCube3("move=L' U R U' L U L' U R' U' L U2 R U2 R'")</script>
			</div>
		</div>
		<div class="col">Y-perm
			<div class="cube">
				<script>AnimCube3("move=F R U' R' U' R U R' F' R U R' U' R' F R F'")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c6">鄰角鄰邊型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">Ra-perm
			<div class="cube">
				<script>AnimCube3("move=R U' R' U' R U R D R' U' R D' R' U2 R' U'")</script>
			</div>
		</div>
		<div class="col">Rb-perm
			<div class="cube">
				<script>AnimCube3("move=y' R' U2 R U2 R' F R U R' U' R' F' R2 U' y")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c7">雙環型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">Ga-perm
			<div class="cube">
				<script>AnimCube3("move=R2 u  R' U R' U' R u' R2 y' R' U R y")</script>
			</div>
		</div>
		<div class="col">Gb-perm
			<div class="cube">
				<script>AnimCube3("move=R' U' R y R2 u R' U R U' R u' R2 y'")</script>
			</div>
		</div>
		<div class="col">Gc-perm
			<div class="cube">
				<script>AnimCube3("move=R2 u' R U' R U R' u R2 y R U' R' y'")</script>
			</div>
		</div>
		<div class="col">Gd-perm
			<div class="cube">
				<script>AnimCube3("move=R U R' y' R2 u' R U' R' U R' u R2 y")</script>
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c8">練習1</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">Ua
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=z U' R U' R' U' R' U' R U R U2' z'">
		</div>
		<div class="col" style="text-align: center;">U2
			<img src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=U2">
		</div>
		<div class="col" style="text-align: center;">Ub
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=z' U L' U L U L U L' U' L' U2 z">
		</div>
		<div class="col" style="text-align: center;">Z
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=U2 R' U' R U' R U R U' R' U R U R2 U' R'">
		</div>
	</div>
</div>
<p><span class="big">練習2</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">Ab
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=x' L' U L' D2 L U' L' D2 L2' x y'">
		</div>
		<div class="col" style="text-align: center;">Aa
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=x' R U' R D2 R' U R D2 R2 x">
		</div>
	</div>
</div>
<p><span class="big">練習3</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">Y
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=F R U' R' U' R U R' F' R U R' U' R' F R F'">
		</div>
		<div class="col" style="text-align: center;">U2
			<img src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=U2">
		</div>
		<div class="col" style="text-align: center;">V
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=L' U R U' L U L' U R' U' L U2 R U2 R'">
		</div>
		<div class="col" style="text-align: center;">H
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=M2' U M2' U2 M2' U M2'">
		</div>
	</div>
</div>
<p><span class="big">練習4</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">Na
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R U R' U R U2 R' U' R U2 L' U R' U' L U' R U' R'">
		</div>
		<div class="col" style="text-align: center;">Nb
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R' U' R U' R' U2 R U R' U2' L U' R U L' U R' U R">
		</div>
		<div class="col" style="text-align: center;">U2
			<img src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=U2">
		</div>
		<div class="col" style="text-align: center;">F
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R' U' F' R U R' U' R' F R2 U' R' U' R U R' U R">
		</div>
		<div class="col" style="text-align: center;">T
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R U R' U' R' F R2 U' R' U' R U R' F'">
		</div>
	</div>
</div>
<p><span class="big">練習5</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">Rb
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=y' R' U2 R U2 R' F R U R' U' R' F' R2 U' y">
		</div>
		<div class="col" style="text-align: center;">Ra
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R U' R' U' R U R D R' U' R D' R' U2 R' U'">
		</div>
		<div class="col" style="text-align: center;">Ja
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R' U2 R U R' U2' L U' R U L'">
		</div>
		<div class="col" style="text-align: center;">U2
			<img src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=U2">
		</div>
		<div class="col" style="text-align: center;">Jb
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R U2 R' U' R U2 L' U R' U' L">
		</div>
		<div class="col" style="text-align: center;">E
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=x' R U' R' D R U R' D' R U R' D R U' R' D' x">
		</div>
	</div>
</div>
<p><span class="big">練習6</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">Ga
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R2 u  R' U R' U' R u' R2 y' R' U R y">
		</div>
		<div class="col" style="text-align: center;">Gb
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R' U' R y R2 u R' U R U' R u' R2 y'">
		</div>
		<div class="col" style="text-align: center;">Gc
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R2 u' R U' R U R' u R2 y R U' R' y'">
		</div>
		<div class="col" style="text-align: center;">Gd
			<img
				src="https://cube.rider.biz/visualcube.php?bg=t&fmt=svg&size=200&sch=ygrwbo&alg=R U R' y' R2 u' R U' R' U R' u R2 y">
		</div>
	</div>
</div>
</p>
<p><span class="big" id="c9">總複習</span></p>
<div class="cube">
	<script>AnimCube3("speed=3&move=z' U L' U L U L U L' U' L' U2 z U2 z U' R U' R' U' R' U' R U R U2' z' R' U' R U' R U R U' R' U R U R2 U' R' x' R U' R D2 R' U R D2 R2 z L' U L' D2 L U' L' D2 L2' x F R U' R' U' R U R' F' R U R' U' R' F R F' U2 L' U R U' L U L' U R' U' L U2 R U2 R' M2' U M2' U2 M2' U M2' R U R' U R U2 R' U' R U2 L' U R' U' L U' R U' R' R' U' R U' R' U2 R U R' U2' L U' R U L' U R' U R U2 R' U' F' R U R' U' R' F R2 U' R' U' R U R' U R R U R' U' R' F R2 U' R' U' R U R' F' R' U2 R U2 R' F R U R' U' R' F' R2 R U' R' U' R U R D R' U' R D' R' U2 R' R' U2 R U R' U2' L U' R U L' U2 R U2 R' U' R U2 L' U R' U' L x' R U' R' D R U R' D' R U R' D R U' R' D' x R2 u  R' U R' U' R u' R2 y' R' U R R' U' R y R2 u R' U R U' R u' R2 R2 u' R U' R U R' u R2 y R U' R' R U R' y' R2 u' R U' R' U R' u R2 y'")</script>
</div>
{% endblock %}