{% extends "base.html" %} {% block content %}
{% set pllmenu = ["剩邊型","剩角型","2 Pairs型","鄰角對邊型","對角鄰邊型","鄰角鄰邊型","雙環型","練習","總複習"]%}
<table>
	{% for i in range(3) %}
	<tr>
		{% for j in range(3) %}
		<td>
			<a href="#c{{i*3+j+1}}" class="click">{{pllmenu[i*3+j]}}</a>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<p><span class="big" id="c1">剩邊型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=z' U L' U L U L U L' U' L' U2 F>">Ua-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=z U' R U' R' U' R' U' R U R U2' F<">Ub-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=M2' U M2' U2 M2' U M2'">H-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=U2 R' U' R U' R U R U' R' U R U R2 U' R'">Z-perm
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c2">剩角型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=x' L' U L' D2 L U' L' D2 L2' L<">Aa-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=x' R U' R D2 R' U R D2 R2 L<">Ab-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=x' R U' R' D R U R' D' R U R' D R U' R' D' L<">E-perm
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c3">2 Pairs型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R' U2 R U R' U2' L U' R U L'">Ja-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R U2 R' U' R U2 L' U R' U' L">Jb-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R U R' U R U2 R' U' R U2 L' U R' U' L U' R U' R'">Na-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R' U' R U' R' U2 R U R' U2' L U' R U L' U R' U R">Nb-perm
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c4">鄰角對邊型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R U R' U' R' F R2 U' R' U' R U R' F'">T-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R' U' F' R U R' U' R' F R2 U' R' U' R U R' U R">F-perm
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c5">對角鄰邊型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=L' U R U' L U L' U R' U' L U2 R U2 R'">V-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=F R U' R' U' R U R' F' R U R' U' R' F R F'">Y-perm
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c6">鄰角鄰邊型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R U' R' U' R U R D R' U' R D' R' U2 R' U'">Ra-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=y' R' U2 R U2 R' F R U R' U' R' F' R2 U' U>">Rb-perm
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c7">雙環型</span></p>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R2 u  R' U R' U' R u' R2 y' R' U R U>">Ga-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R' U' R y R2 u R' U R U' R u' R2 U<">Gb-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R2 u' R U' R U R' u R2 y R U' R' U<">Gc-perm
			</div>
		</div>
		<div class="col">
			<div class="roofpig" data-config="base=F4|alg=R U R' y' R2 u' R U' R' U R' u R2 U>">Gd-perm
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c8">練習1</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">
			<a href="#c1" class="click"><img class="pllimg" src="./rgrgbg.svg" loading="lazy" /></a>Ua
		</div>
		<div class="col" style="text-align: center;"><img class="pllimg" src="./ooobbb.svg" loading="lazy" />U2</div>
		<div class="col" style="text-align: center;">
			<a href="#c1" class="click"><img class="pllimg" src="./rbrgrg.svg" loading="lazy" /></a>Ub
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c1" class="click"><img class="pllimg" src="./ogobrb.svg" loading="lazy" /></a>Z
		</div>
	</div>
</div>
<div class="roofpig"
	data-config="base=A4|alg=z' U L' U L U L U L' U' L' U2 z U2 z U' R U' R' U' R' U' R U R U2' z' R' U' R U' R U R U' R' U R U R2 U' R'">
</div>
<p><span class="big">練習2</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">
			<a href="#c2" class="click"><img class="pllimg" src="./grgogb.svg" loading="lazy" /></a>Ab
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c2" class="click"><img class="pllimg" src="./brbrgg.svg" loading="lazy" /></a>Aa
		</div>
	</div>
</div>
<div class="roofpig" data-config="base=A4|alg=x' R U' R D2 R' U R D2 R2 z L' U L' D2 L U' L' D2 L2' x U<">
</div>
<p><span class="big">練習3</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">
			<a href="#c5" class="click"><img class="pllimg" src="./rrobgg.svg" loading="lazy" /></a>Y
		</div>
		<div class="col" style="text-align: center;"><img class="pllimg" src="./ooobbb.svg" loading="lazy" />U2</div>
		<div class="col" style="text-align: center;">
			<a href="#c5" class="click"><img class="pllimg" src="./ogrgrb.svg" loading="lazy" /></a>V
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c1" class="click"><img class="pllimg" src="./rorgbg.svg" loading="lazy" /></a>H
		</div>
	</div>
</div>
<div class="roofpig"
	data-config="base=A4|alg=F R U' R' U' R U R' F' R U R' U' R' F R F' U2 L' U R U' L U L' U R' U' L U2 R U2 R' M2' U M2' U2 M2' U M2'">
</div>
<p><span class="big">練習4</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">
			<a href="#c3" class="click"><img class="pllimg" src="./orrgbb.svg" loading="lazy" /></a>Na
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c3" class="click"><img class="pllimg" src="./rrobbg.svg" loading="lazy" /></a>Nb
		</div>
		<div class="col" style="text-align: center;"><img class="pllimg" src="./ooobbb.svg" loading="lazy" />U2</div>
		<div class="col" style="text-align: center;">
			<a href="#c4" class="click"><img class="pllimg" src="rogogr.svg" loading="lazy" /></a>F
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c4" class="click"><img class="pllimg" src="./rrgobr.svg" loading="lazy" /></a>T
		</div>
	</div>
</div>
<div class="roofpig"
	data-config="base=A4|alg=R U R' U R U2 R' U' R U2 L' U R' U' L U' R U' R' R' U' R U' R' U2 R U R' U2' L U' R U L' U R' U R U2 R' U' F' R U R' U' R' F R2 U' R' U' R U R' U R R U R' U' R' F R2 U' R' U' R U R' F'">
</div>
<p><span class="big">練習5</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">
			<a href="#c6" class="click"><img class="pllimg" src="./rgrgro.svg" loading="lazy" /></a>Rb
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c6" class="click"><img class="pllimg" src="./rrgogr.svg" loading="lazy" /></a>Ra
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c3" class="click"><img class="pllimg" src="./rrgoor.svg" loading="lazy" /></a>Ja
		</div>
		<div class="col" style="text-align: center;"><img class="pllimg" src="./ooobbb.svg" loading="lazy" />U2</div>
		<div class="col" style="text-align: center;">
			<a href="#c3" class="click"><img class="pllimg" src="./rggorr.svg" loading="lazy" /></a>Jb
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c2" class="click"><img class="pllimg" src="./brgogr.svg" loading="lazy" /></a>E
		</div>
	</div>
</div>
<div class="roofpig"
	data-config="base=A4|alg=R' U2 R U2 R' F R U R' U' R' F' R2 R U' R' U' R U R D R' U' R D' R' U2 R' R' U2 R U R' U2' L U' R U L' U2 R U2 R' U' R U2 L' U R' U' L x' R U' R' D R U R' D' R U R' D R U' R' D' x">
</div>
<p><span class="big">練習6</span></p>
<div class="container-fluid">
	<div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
		<div class="col" style="text-align: center;">
			<a href="#c7" class="click"><img class="pllimg" src="./brrgob.svg" loading="lazy" /></a>Ga
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c7" class="click"><img class="pllimg" src="./gbobgg.svg" loading="lazy" /></a>Gb
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c7" class="click"><img class="pllimg" src="./gbobrg.svg" loading="lazy" /></a>Gc
		</div>
		<div class="col" style="text-align: center;">
			<a href="#c7" class="click"><img class="pllimg" src="./borggb.svg" loading="lazy" /></a>Gd
		</div>
	</div>
</div>
</p>
<div class="container-fluid">
	<div class="row justify-content-center row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
		<div class="col">
			<div class="roofpig"
				data-config="base=A4|alg=R2 u  R' U R' U' R u' R2 y' R' U R R' U' R y R2 u R' U R U' R u' R2">
			</div>
		</div>
		<div class="col">
			<div class="roofpig"
				data-config="base=A4|alg=R2 u' R U' R U R' u R2 y R U' R' R U R' y' R2 u' R U' R' U R' u R2">
			</div>
		</div>
	</div>
</div>
<p><span class="big" id="c9">總複習</span></p>
<div class="roofpig"
	data-config="speed=200|pov=Urf|alg=z' U L' U L U L U L' U' L' U2 z U2 z U' R U' R' U' R' U' R U R U2' z' R' U' R U' R U R U' R' U R U R2 U' R' x' R U' R D2 R' U R D2 R2 z L' U L' D2 L U' L' D2 L2' x F R U' R' U' R U R' F' R U R' U' R' F R F' U2 L' U R U' L U L' U R' U' L U2 R U2 R' M2' U M2' U2 M2' U M2' R U R' U R U2 R' U' R U2 L' U R' U' L U' R U' R' R' U' R U' R' U2 R U R' U2' L U' R U L' U R' U R U2 R' U' F' R U R' U' R' F R2 U' R' U' R U R' U R R U R' U' R' F R2 U' R' U' R U R' F' R' U2 R U2 R' F R U R' U' R' F' R2 R U' R' U' R U R D R' U' R D' R' U2 R' R' U2 R U R' U2' L U' R U L' U2 R U2 R' U' R U2 L' U R' U' L x' R U' R' D R U R' D' R U R' D R U' R' D' x R2 u  R' U R' U' R u' R2 y' R' U R R' U' R y R2 u R' U R U' R u' R2 R2 u' R U' R U R' u R2 y R U' R' R U R' y' R2 u' R U' R' U R' u R2 U<">
</div>
<script>
	ROOFPIG_CONF_F4 = "speed=800|pov=Urf|flags=showalg"
	ROOFPIG_CONF_A4 = "speed=400|pov=Urf"
</script>
{% endblock %}