{% extends "base.html" %}
{% block head %}
<style>
	#mainer tr td {
		border: none;
	}
</style>
<style class="list-search-style"></style>
{% endblock %}
{% block content %}
<p><span class="big">PLL_四方向圖案</span></p>
<table>
	<colgroup>
		{% for i in range(5) %}
		<col width="20%">
		{% endfor%}
	</colgroup>
	{% set menuname =
	["Ub","Ua","Ab","Aa","T","V","F","Rb","Ra","Jb","Ja","Y","Gd","Gc","Gb","Ga","Z","E","H","Nb","Na"] %}
	{% set svg=["rbrgrg","rorgrg","rrrgbg","rbrggg","rgrgbg","rgrgog","rrrgog","rorggg",
	"grgogb","rrgogo","orrggo","grobgg","orbrgr","rrobgr","brrggb","brbrgg",
	"rrgobr","rorggo","brrgbg","gobrgg","rrobog","orrggb","rbobgg","ogrgrb",
	"rogogr","rrrgbo","borggg","grbrbg","rgrgro","brrgog","grbrgg","rbgogr",
	"grbrog","rrgogr","rbrggo","bgrgrg","rggorr","rrrgoo","brrggg","gbbrgg",
	"rrgoor","rrrggo","bbrggg","ggbrrg","rrobgg","obrggb","obrgob","orrgob",
	"borggb","bgbrbg","ogbror","rrobor","gbobrg","gogorb","rrgobo","obrggo",
	"gbobgg","gbgorb","rogoro","orrgbo","brrgob","bobrgg","ogbrbr","rgobor",
	"rgrgrg","rbrgog","grbrgo","brgogr","rorgbg","rrobbg","orrgbb"]%}
	{% for i in range(16) %}
	<tr class="b" data-title="p{% if i>=9 %}{% else %}0{% endif %}{{i+1}}">
		<td>{{menuname[i]}}</td>
		{% for j in range(4) %}
		<td><img src="./{{svg[i*4+j]}}.svg"></td>
		{% endfor %}
	</tr>
	{% endfor%}
	{% for i in range(2) %}
	<tr class="b" data-title="p{{i+17}}">
		<td>{{menuname[i+16]}}</td>
		{% for j in range(2) %}
		<td><img src="./{{svg[64+i*2+j]}}.svg"></td>
		{% endfor %}
	</tr>
	{% endfor%}
	{% for i in range(3) %}
	<tr class="b" data-title="p{{i+19}}">
		<td>{{menuname[i+18]}}</td>
		<td><img src="./{{svg[68+i]}}.svg"></td>
	</tr>
	{% endfor%}
</table>
<script>
	var url = location.href;
	if (url.indexOf('?') != -1) {
		var ary1 = url.split('?');
		var ary2 = ary1[1].split('&');
		var ary3 = ary2[0].split('=');
		var id = ary3[1];
	}
	if (!id) {
		$('.list-search-style').html('');
	} else {
		$('.list-search-style').html(
			'#mainer .b:not([data-title*="' + id + '"]) {display: none;}'
		);
	}
</script>
{% endblock %}