{% extends "base.html" %}
{% set demo = [
["Superflip", "U2 R B D B F' L' U' B F' L F L' R D U2 F' R' U2" ],
["easy checkerboard", "M2 E2 S2"],
["SpeedSolving", "R' L' U2 F2 D2 F2 R L B2 U2 B2 U2"],
["3 sides solved", "U2 D R' D B' L2 B D' R L2 U2 B2 L2 B2 D R2 L2 D R2"],
["All flags & crests", "B2 U' B2 L2 U B2 U R2 B2 U' L' R' B D U' L2 F2 R'"],
["Wire", "R L F B R L F B R L F B R2 B2 L2 R2 B2 L2"],
["Wire(2)", "F B R L F B R L F B R L U D' U D'" ],
["Checkerboard in cube", "B D F' B' D L2 U L U' B D' R B R D' R L' F U2 D"],
["Perfect Scramble", "U F' L' U' R2 F' R2 B' U' R F' U F D' L2 F2 L2 U'"],
["Perfect Scramble(2)", "U B2 L2 B F' U F' D2 L D2 F D R2 F2 R' B' U' R'" ],
["( ! ) (ˆ⌣ˆԅ)", "U' F2 R' L' U' B R2 D B U' R2 L B2 D' B2 U F2 B2 U' L2 B2 L2`"],
["Minority cross", "R2 B2 U2 L2 B2 U2 F2 L2 D L' R F L2 F' U' D L" ],
["Perpendicular lines", "R2 U2 L2 R2 U2 L2 M2"],
["Flipped tips", "U B D' F2 D B' U' R2 D F2 D' R2 D F2 D' R2"],
["Plus minus", "U2 R2 L2 U2 R2 L2"],
["Tablecloth", "R L U2 F' U2 D2 R2 L2 F' D2 F2 D R2 L2 F2 B2 D B2 L2"],
["Deckerboard", "U D R L' F' B U D' R2 U R2 L2 D2 F2 B2 D"],
["Spiral pattern", "L' B' D U R U' R' D2 R2 D L D' L' R' F U"],
["Fruit bowl", "B2 L2 F2 R2 F2 R2 D U B2 U2 B' F' L' R' D' U'"],
["Flower", "R2 D2 R2 U2 R2 F2 U2 D2 F2 U2"],
["Vertical stripes", "F U F R L2 B D' R D2 L D' B R2 L F U F"],
["Gift box", "U B2 R2 B2 L2 F2 R2 D' F2 L2 B F' L F2 D U' R2 F' L' R'"],
["Opposite corners", "R L U2 F2 D2 F2 R L F2 D2 B2 D2"],
["Cross", "R2 L' D F2 R' D' R' L U' D R D B2 R' U D2"],
["4 crosses", "D F2 R2 F2 D' U R2 F2 R2 U'" ],
["Union Jack", "U F B' L2 U2 L2 F' B U2 L2 U"],
["Cube in cube", "F L F U' R U F2 L2 U' L' B D' B' L2 U"],
["Cube in cube in cube", "F D2 L2 B D B' F2 U' F U F2 U2 F' L D F' U"],
["Anaconda", "L U B' U' R L' B R' F B' D R D' F'"],
["Python", "F2 R' B' U R' L F' L F' B D' R B L2" ],
["Black mamba", "R D L F' R L' D R' U D' B U' R' D'"],
["Green mamba", "R D R F R' F' B D R' U' B' U D2"],
["Tangled", "F B U D F B U D F B U D F2 B2"],
["Four spots", "U R2 L2 U D' F2 B2 D'" ],
["Six spots", "M E' M' E" ],
["Twister", "F R' U L F' L' F U' R U L' U' L F'"],
["Scottish skirt", "U' R2 L2 F2 B2 U' R L F B' U F2 D2 R2 L2 F2 U2 F2 U' F2"],
["Scottish skirt(2)", "D2 F2 U' B2 F2 L2 R2 D R' B F D' U L R D2 U2 F' U2"],
["Tetris", "L R F B U' D' L' R'"],
["Don't cross line", "F2 L2 R2 B2 E2"],
["Hi", "M2 U2 M2 U2"],
["Hi all around", "U2 R2 F2 U2 D2 F2 L2 U2"],
["Hi again", "D2 M F2 B2 M D2 x2" ],
["Displaced Motif", "L2 B2 D' B2 D L2 U R2 D R2 B U R' F2 R U' B' U'"],
["Are you high?", "L R' U2 D2 L' R U2 D2 R2 L2"],
["C U around", "D' U B D' L' R F D' B' D' U L" ],
["Order in chaos", "B L2 B' U2 B F2 U L U B U' R U' B F U' R D R B' U'"],
["Evenly distributed", "D' B2 D' L2 R2 D B2 L2 D' B2 L R' F' L2 D U' F2 R' D' U'"],
["No entry", "U' L' B R L' D' L B' U F2 R2 B2 D2 B2 R2 B2 D B2"],
["'Plus'", "B2 F2 R2 U2 B2 F2 R2 U2 R2 U2"],
["3C3W", "D L B' L L F L' B' U D' R L' F B D L'"],
["Pong", "U R2 F2 B2 L2 U2 D R2 F2 B2 L2"],
["Spun T's", "U' L2 F2 L2 F2 D' L2 F' L2 F' D U2 L' B L B' U'"],
["Wifi Downstairs", "R U' R F2 R' U R F2 U' B2 U D R2 U' L2 D' L2"],
["Opposite pillars", "R2 F2 R2 L2 F2 L2" ],
["Viaduct", "R2 U2 L2 D B2 L2 B2 R2 D' U L' D F' U' R2 F' U B2 U2 R'"],
["Viaduct(2)", "R2 F2 B2 L2 U F2 R2 L2 B2 D'" ],
["Solved in scrambled", "D2 L' U2 F L2 D2 U R2 D L2 B' L2 U L D' R2 U'"],
["Hi Ohio", "U2 F2 L2 R2 F2 U2"],
["Staircase", "L2 F2 D' L2 B2 D' U' R2 B2 U' L' B2 L D L B' D L' U"],
["Wrapped 2x2", "D' B2 F2 L2 U' F2 R2 D F2 U2 L' B R' U' L' F D' F L D2"],
["Antipodal chaos", "U2 L2 U2 L2 U2 F2 R2 F2 U2 F2"],
["Flower field", "M S M' S' R2 L2 U2 D2 F2 B2"],
["C spirals", "B' F' L2 D2 B' F U2 R2 F2"],
["Worms", "U' F2 L2 U D2 F2 B2 U F2 L2 D"],
["Glider", "D2 R2 F2 R2 U2 B2 D2 F2 L2 U2 R2 U2"],
["Quote", "U2 F2 D2 B2 R2 U2 B2 R2 U2 R2"],
["Matching pictures", "R' D2 R L D2 L'"],
["Loose strap", "F2 U2 B2 U2 F2 U2"],
["Doubler", "R L U2 R L' D2 R2 F2 U2 F2 U2 L2 F2 U2 L2"],
["3T", "B U2 L2 F2 R2 F D2 F2 R2 F' R2 U2"],
["4T", "F2 D2 F' L2 D2 U2 R2 B' U2 F2"],
["6T", "U2 F2 R2 D U' L2 B2 D U" ],
["6T(2)", "B2 D2 L R' D2 B2 L R'" ],
["ZZ-Line", "R L U2 R L' U2 F2 R2 U2 F2 D2 B2 L2 U2 L2"],
["Checker zigzag", "R2 L2 F2 B2 U F2 B2 U2 F2 B2 U"],
["Exchanged duck feet", "U F R2 F' D' R U B2 U2 F' R2 F D B2 R B'"],
["Stripe dot solved", "D U B2 F2 D' U'"],
["Picnic", "D2 R2 L2 F2 B2"],
["Percent sign %", "R L U2 R L' U2 F2 L2 U2 F2 U2 F2 R2 U2 R2"],
["Mirror", "U D F2 B2 U' D' R2 L2 B2"],
["Plus minus check", "U D R2 L2 U D R2 L2"],
["Facing checkerboards", "U2 F2 U2 F2 B2 U2 F2 D2"],
["4 plus 2 dots", "F U2 D2 R L U' D F B R U2 R2 U2 F2 L2 U2 F2 L2 B2"],
["Rockets", "U R2 F2 R2 U' D F2 R2 F2 D"],
["Slash", "R L F B R L F B R L F B" ],
["The pillars", "M2 S2"],
["Twisted duck feet", "F R' B R U F' L' F' U2 L' U' D2 B D' F B' U2"],
["Ron's cube in cube", "F D' F' R D F' R' D R D L' F L D R' F D'"],
["Headlights", "U2 F2 U2 D2 B2 D2"],
["Crossing snake", "R L U2 R L' U2 F2 R2 D2 B2 D2 B2 L2 D2 R2"],
["Cage", "L U F2 R L' U2 B' U D B2 L F B' R' L F' R"],
["4 crosses", "F2 B2 R F2 B2 R F2 B2 R F2 B2 R F2 B2 R F2 B2 R"],
["Pyraminx", "D L' U R' B' R B U2 D B D' B' L U D'"],
["Edge triangle", "U B2 U' F' U' D L' D2 L U D' F D' L2 B2 D'"],
["Twisted rings", "F D F' D2 L' B' U L D R U L' F' U L U2"],
["Exchanged rings", "B' U' B' L' D B U D2 B U L D' L' U' L2 D" ],
["Twisted chicken feet", "F L' D F' U' B U F U' F R' F2 L U' R' D2" ],
["Exchanged chicken feet", "F L' D' B' L F U F' D' F L2 B' R' U L2 D' F"],
["Twin Peaks", "U L2 B2 R2 U R2 D' U L F' U L' D B' U L B' L R' U'"],
["Corner pyramid", "U' D B R' F R B' L' F' B L F R' B' R F' U' D"],
["Corner pyramid(2)", "B L2 U2 L2 B' F' U2 R' B F R2 D' L R' D' U R F'" ],
["Twisted peaks", "F B' U F U F U L B L2 B' U F' L U L' B"],
["Exchanged peaks", "F U2 L F L' B L U B' R' L' U R' D' F' B R2"],
["Megatron", "U L D R' F D2 R2 F2 R' F D2 B L2 U2 D' R2 U R2 B2 L2"],
["Six-two-one", "U B2 D2 L B' L' U' L' B D2 B2"],
["Yin Yang", "R L B F R L U' D' F' B' U D"],
["Yan Ying", "L R F B U' D' L' R'"],
["Henry's snake", "R2 F2 U' D' B2 L2 F2 L2 U D R2 F2"],
["Snake eyes", "R2 U2 R2 U2 R2 U2"],
["Glitch", "F' L' B' R' U' R B L F U"],
["Weirdo", "R' F' U F2 U' F R' F2 D2 F2 D2 F2 D F2 R2 U2"],
["Twisted corners", "F U D R2 F2 U' B U B U R2 B' U L2 U B2 U2 F2 L2 U'"],
["Quick maths 1+1", "R L F2 U2 R' L' F2 U2 R2 F2 U R2 L2 F2 B2 D'"],
["Scrambled 2x2s", "U2 B' R U' L F B2 U F' U F2 L2 U D B2 L2 B2 L2"],
["六面六色", "D2 U2 L2 B R2 D' L2 R2 D2 B2 F2 U' R2 B' R2" ],
["六面彩條", "F2 U2 F2 B2 U2 F B" ],
["六面三條", "U2 L2 U2 L2 U2 L2 U2 R2 U2 R2 U2 R2 U D L2 R2" ],
["六面凹字(1)", "F2 L' R B2 U2 L R' D2" ],
["六面J字", "D2 L2 D R2 U B2 U2 B R' B' D B2 R' F R2 F' U R'" ],
["六面E字", "F2 R2 F2 U' R' B2 F L R' U L' R U B U2 F2 D' U'" ],
["六面魚形", "L2 D B2 U R2 B2 D L' B2 F' D' U R' D2 R' B2 F' U' F'" ],
["五彩十字", "L2 D' F2 D B D L F R' U' R' D' F L2 B F2 L" ],
["四色回字", "B2 L R B L2 B F D U' B F R2 F' L R" ],
["四面L字", "B F D U L2 D U' B F'" ],
["四面E字", "R2 U2 F2 R2 U2 R2 F2 U2" ],
["四面V字", "D2 R L U2 R2 L2 U2 R L" ],
["三色十字","B F' L2 R2 U D'"],
["三色斜線", "R F2 L' D2 F2 L' R2 B' L' B' F' D' U R F' D R' B R'" ],
["C T V(1)","B2 R2 D2 U2 F2 L R' U2 L' R'"],
["C T V(2)","L2 B2 R2 D2 R2 F2 U2 F2 R2 U2 R2"]
] %}
{% block head %}
<script src="{{ url_for('static', filename='js/AnimCube3_special.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
        {% for i in range(demo|length) %}
        <div class="col">{{demo[i][0]}}
            <div class="cube">
                <script>AnimCube3("initrevmove=&move={{demo[i][1]|safe}}")</script>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}